<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bayee.political.mapper.CalculationFactorMapper" >
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.CalculationFactor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="case_id" property="caseId" jdbcType="INTEGER" />
    <result column="police_station_id" property="policeStationId" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="increment" property="increment" jdbcType="DOUBLE" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, case_id, police_station_id, num, increment, creation_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from calculation_factor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from calculation_factor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <!-- 警力行政拘留新增 -->
  <insert id="administrativeDetentionCreat" keyColumn="id" keyProperty="id" parameterType="com.bayee.political.domain.CalculationFactor" useGeneratedKeys="true">
    insert into calculation_factor (case_id, police_station_id, 
      num, increment, creation_date, 
      update_date)
    values (#{caseId,jdbcType=INTEGER}, #{policeStationId,jdbcType=INTEGER}, 
      #{num,jdbcType=INTEGER}, #{increment,jdbcType=DOUBLE}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <!-- 警力行政拘留修改 -->
  <update id="administrativeDetentionUpdate" parameterType="com.bayee.political.domain.CalculationFactor" >
    update calculation_factor
    <set >
      <if test="caseId != null" >
        case_id = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="policeStationId != null" >
        police_station_id = #{policeStationId,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="increment != null" >
        increment = #{increment,jdbcType=DOUBLE},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.CalculationFactor" >
    update calculation_factor
    set case_id = #{caseId,jdbcType=INTEGER},
      police_station_id = #{policeStationId,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      increment = #{increment,jdbcType=DOUBLE},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
        <!-- 警力行政拘留详情查询 -->
  <select id="administrativeDetentionItem" parameterType="com.bayee.political.domain.CalculationFactor" resultMap="BaseResultMap" >
select * from calculation_factor 
where 1=1 
     <if test="id != null and id !=''">
        and id = #{id,jdbcType=INTEGER}
      </if>
       <if test="caseId != null and caseId !=''">
        and case_id = #{caseId,jdbcType=INTEGER}
      </if>
      <if test="policeStationId != null and policeStationId !=''">
        and police_station_id = #{policeStationId,jdbcType=INTEGER}
      </if>
order by creation_date desc limit 1
  </select>
</mapper>