<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bayee.political.mapper.EvaluateTaskParticipantTempMapper" >
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.EvaluateTaskParticipantTemp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="task_id" property="taskId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="police_id" property="policeId" jdbcType="VARCHAR" />
    <result column="head_image" property="headImage" jdbcType="VARCHAR" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="position_id" property="positionId" jdbcType="INTEGER" />
    <result column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="object_name" property="objectName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="rank_id" property="rankId" jdbcType="INTEGER" />
    <result column="rank_detail_id" property="rankDetailId" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <result column="proportion" property="proportion" jdbcType="DOUBLE" />
    <result column="participant_id" property="participantId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="operation" property="operation" jdbcType="INTEGER" />
    <result column="is_ignore" property="isIgnore" jdbcType="INTEGER" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, task_id, type, police_id, head_image, department_id, position_id, object_id, 
    object_name, description, rank_id, rank_detail_id, score, proportion, participant_id, 
    status, reason, operation, is_ignore, creation_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from evaluate_task_participant_temp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from evaluate_task_participant_temp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <!-- 删除临时表全部数据 -->
  <delete id="tempDeleteAll" parameterType="com.bayee.political.domain.EvaluateTaskParticipantTemp" >
    delete from evaluate_task_participant_temp
    where police_id = #{policeId} and task_id=#{taskId}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.EvaluateTaskParticipantTemp" >
    insert into evaluate_task_participant_temp (id, task_id, type, 
      police_id, head_image, department_id, 
      position_id, object_id, object_name, 
      description, rank_id, rank_detail_id, 
      score, proportion, participant_id, 
      status, reason, operation, 
      is_ignore, creation_date, update_date
      )
    values (#{id,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{policeId,jdbcType=VARCHAR}, #{headImage,jdbcType=VARCHAR}, #{departmentId,jdbcType=INTEGER}, 
      #{positionId,jdbcType=INTEGER}, #{objectId,jdbcType=VARCHAR}, #{objectName,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{rankId,jdbcType=INTEGER}, #{rankDetailId,jdbcType=INTEGER}, 
      #{score,jdbcType=DOUBLE}, #{proportion,jdbcType=DOUBLE}, #{participantId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR}, #{operation,jdbcType=INTEGER}, 
      #{isIgnore,jdbcType=INTEGER}, #{creationDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <!-- 评价参与人临时表批量新增 -->
  <insert id="tempBatch" keyProperty="id" parameterType="com.bayee.political.domain.EvaluateTaskParticipantTemp" useGeneratedKeys="true">
      insert into evaluate_task_participant_temp (rank_id,rank_detail_id, status,
      police_id,task_id,type,update_date)
      values 
         <foreach collection="list" index="index" item="item" separator=",">
            (#{item.rankId,jdbcType=INTEGER},
            #{item.rankDetailId,jdbcType=INTEGER}, #{item.status,jdbcType=INTEGER},
            #{item.policeId,jdbcType=INTEGER}, #{item.taskId,jdbcType=INTEGER},
	        #{item.type,jdbcType=INTEGER},#{item.updateDate,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bayee.political.domain.EvaluateTaskParticipantTemp" >
    update evaluate_task_participant_temp
    <set >
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="policeId != null" >
        police_id = #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="headImage != null" >
        head_image = #{headImage,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="positionId != null" >
        position_id = #{positionId,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null" >
        object_name = #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="rankId != null" >
        rank_id = #{rankId,jdbcType=INTEGER},
      </if>
      <if test="rankDetailId != null" >
        rank_detail_id = #{rankDetailId,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="proportion != null" >
        proportion = #{proportion,jdbcType=DOUBLE},
      </if>
      <if test="participantId != null" >
        participant_id = #{participantId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        operation = #{operation,jdbcType=INTEGER},
      </if>
      <if test="isIgnore != null" >
        is_ignore = #{isIgnore,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.EvaluateTaskParticipantTemp" >
    update evaluate_task_participant_temp
    set task_id = #{taskId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      police_id = #{policeId,jdbcType=VARCHAR},
      head_image = #{headImage,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=INTEGER},
      position_id = #{positionId,jdbcType=INTEGER},
      object_id = #{objectId,jdbcType=VARCHAR},
      object_name = #{objectName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      rank_id = #{rankId,jdbcType=INTEGER},
      rank_detail_id = #{rankDetailId,jdbcType=INTEGER},
      score = #{score,jdbcType=DOUBLE},
      proportion = #{proportion,jdbcType=DOUBLE},
      participant_id = #{participantId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      reason = #{reason,jdbcType=VARCHAR},
      operation = #{operation,jdbcType=INTEGER},
      is_ignore = #{isIgnore,jdbcType=INTEGER},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 查询是否有超过最大数的规则类型（api） -->
 <select id="participantTempItem" parameterType="com.bayee.political.domain.EvaluateTaskParticipantTemp" resultMap="BaseResultMap">
<!-- select GROUP_CONCAT(reason SEPARATOR ';') as reason from(select a.*,b.is_max,b.max_num,b.detail_name,
CONCAT('当前评价',b.detail_name,a.num,'个,最多评价',b.max_num,'个') as reason
from (SELECT count(*) as num,rank_detail_id 
FROM evaluate_task_participant_temp where police_id=#{policeId} and task_id=#{taskId}
GROUP BY rank_detail_id) a
left join evaluate_rank_detail b on b.id=a.rank_detail_id
where b.is_max=1 and num&gt;b.max_num) as t -->
select GROUP_CONCAT(reason SEPARATOR ';') as reason from
(select a.num,a.rank_detail_id,(case when a.type=2 then b.max_num
else round(b.max_num/100*c.tnum,0) end) as max_num,
a.type,b.is_max,b.detail_name,
CONCAT('当前评价',b.detail_name,a.num,'个,最多评价',(case when a.type=2 then b.max_num
else round(b.max_num/100*c.tnum,0) end),'个') as reason
from (SELECT count(*) as num,rank_detail_id,type 
FROM evaluate_task_participant_temp where police_id=#{policeId} and task_id=#{taskId}
GROUP BY rank_detail_id,type) a
left join evaluate_rank_detail b on b.id=a.rank_detail_id
join(select count(*) as tnum from evaluate_task_participant_temp 
where police_id=#{policeId} and task_id=#{taskId}) c) as t 
where is_max=1 and num&gt;max_num
</select>
</mapper>