<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bayee.political.mapper.EvaluateProjectMapper" >
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.EvaluateProject" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
     <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from evaluate_project
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from evaluate_project
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.EvaluateProject" >
    insert into evaluate_project (id, project_name)
    values (#{id,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bayee.political.domain.EvaluateProject" >
    insert into evaluate_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bayee.political.domain.EvaluateProject" >
    update evaluate_project
    <set >
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.EvaluateProject" >
    update evaluate_project
    set project_name = #{projectName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--项目列表查询(后台) -->
  <select id="evaluateProjectList" parameterType="com.bayee.political.domain.EvaluateProject" resultMap="BaseResultMap">
select * from evaluate_project where 1=1 order by id
</select>
  <!--项目列表查询(后台) -->
  <select id="evaluateProjectItem" parameterType="com.bayee.political.domain.EvaluateProject" resultMap="BaseResultMap">
select a.*,b.name as departmentName from evaluate_project a
left join department b on b.id=a.department_id
where a.id=#{objectId}
</select>
</mapper>