<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bayee.political.mapper.FeedbackTypeMapper" >
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.FeedbackType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="feedback_name" property="feedbackName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, feedback_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from feedback_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from feedback_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.FeedbackType" >
    insert into feedback_type (id, feedback_name)
    values (#{id,jdbcType=INTEGER}, #{feedbackName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bayee.political.domain.FeedbackType" >
    insert into feedback_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="feedbackName != null" >
        feedback_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="feedbackName != null" >
        #{feedbackName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bayee.political.domain.FeedbackType" >
    update feedback_type
    <set >
      <if test="feedbackName != null" >
        feedback_name = #{feedbackName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.FeedbackType" >
    update feedback_type
    set feedback_name = #{feedbackName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 意见类型查询(api) -->
  <select id="feedbackTypeApiList" parameterType="com.bayee.political.domain.FeedbackType" resultMap="BaseResultMap">
select * from feedback_type order by id
</select>
</mapper>