<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bayee.political.mapper.MeasuresViewsMapper" >
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.MeasuresViews" >
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>

  <select id="findAll" resultMap="BaseResultMap">
    select * from `mark_wz_v`
  </select>

</mapper>