<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bayee.political.mapper.MeasuresMapper" >
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.Measures" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="findAllMeasures" resultMap="BaseResultMap">
    select * from `measures`
  </select>

  <select id="findByName" resultMap="BaseResultMap">
    select * from `measures` where name = #{name}
  </select>

  <insert id="insertMeasures" parameterType="com.bayee.political.domain.Measures">
    insert into `measures` values (null, #{name}, #{creationDate})
  </insert>

</mapper>