<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bayee.political.mapper.PolicePromotionRecordInfoMapper" >
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.PolicePromotionRecordInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="police_id" property="policeId" jdbcType="VARCHAR" />
    <result column="head_image" property="headImage" jdbcType="VARCHAR" />
    <result column="dep_id" property="depId" jdbcType="INTEGER" />
    <result column="dep_name" property="depName" jdbcType="VARCHAR" />
    <result column="post_id" property="postId" jdbcType="INTEGER" />
    <result column="post_name" property="postName" jdbcType="VARCHAR" />
    <result column="now_police_level_id" property="nowPoliceLevelId" jdbcType="INTEGER" />
    <result column="now_police_level_name" property="nowPoliceLevelName" jdbcType="VARCHAR" />
    <result column="next_police_level_id" property="nextPoliceLevelId" jdbcType="INTEGER" />
    <result column="next_police_level_name" property="nextPoliceLevelName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="last_time" property="lastTime" jdbcType="TIMESTAMP" />
    <result column="now_time" property="nowTime" jdbcType="TIMESTAMP" />
    <result column="interval" property="interval" jdbcType="INTEGER" />
    <result column="resume_score" property="resumeScore" jdbcType="DOUBLE" />
    <result column="hold_office_score" property="holdOfficeScore" jdbcType="DOUBLE" />
    <result column="total_score" property="totalScore" jdbcType="DOUBLE" />
    <result column="is_civil_servant" property="isCivilServant" jdbcType="INTEGER" />
    <result column="is_disciplinary_action" property="isDisciplinaryAction" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="modify_user" property="modifyUser" jdbcType="VARCHAR" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.bayee.political.domain.PolicePromotionRecordInfo" extends="BaseResultMap" >
    <result column="remarks" property="remarks" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, police_id, head_image, dep_id, dep_name, post_id, post_name, now_police_level_id,
    now_police_level_name, next_police_level_id, next_police_level_name, type, last_time,
    now_time, interval, resume_score, hold_office_score, total_score, is_civil_servant,
    is_disciplinary_action, sort, create_time, modify_time, create_user, create_user_id, 
    modify_user, modify_user_id
  </sql>
  <sql id="Blob_Column_List" >
    remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from police_promotion_record_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from police_promotion_record_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.PolicePromotionRecordInfo" >
    insert into police_promotion_record_info (id, name, police_id, 
      head_image, dep_id, dep_name, 
      post_id, post_name, now_police_level_id, 
      now_police_level_name, next_police_level_id, 
      next_police_level_name, type, last_time, 
      now_time, interval, resume_score, 
      hold_office_score, total_score, is_civil_servant, 
      is_disciplinary_action, sort, create_time, 
      modify_time, create_user, create_user_id, 
      modify_user, modify_user_id, remarks
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{policeId,jdbcType=VARCHAR}, 
      #{headImage,jdbcType=VARCHAR}, #{depId,jdbcType=INTEGER}, #{depName,jdbcType=VARCHAR}, 
      #{postId,jdbcType=INTEGER}, #{postName,jdbcType=VARCHAR}, #{nowPoliceLevelId,jdbcType=INTEGER}, 
      #{nowPoliceLevelName,jdbcType=VARCHAR}, #{nextPoliceLevelId,jdbcType=INTEGER}, 
      #{nextPoliceLevelName,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{lastTime,jdbcType=TIMESTAMP}, 
      #{nowTime,jdbcType=TIMESTAMP}, #{interval,jdbcType=INTEGER}, #{resumeScore,jdbcType=DOUBLE}, 
      #{holdOfficeScore,jdbcType=DOUBLE}, #{totalScore,jdbcType=DOUBLE}, #{isCivilServant,jdbcType=INTEGER}, 
      #{isDisciplinaryAction,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{createUserId,jdbcType=INTEGER}, 
      #{modifyUser,jdbcType=VARCHAR}, #{modifyUserId,jdbcType=INTEGER}, #{remarks,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bayee.political.domain.PolicePromotionRecordInfo" >
    insert into police_promotion_record_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="policeId != null" >
        police_id,
      </if>
      <if test="headImage != null" >
        head_image,
      </if>
      <if test="depId != null" >
        dep_id,
      </if>
      <if test="depName != null" >
        dep_name,
      </if>
      <if test="postId != null" >
        post_id,
      </if>
      <if test="postName != null" >
        post_name,
      </if>
      <if test="nowPoliceLevelId != null" >
        now_police_level_id,
      </if>
      <if test="nowPoliceLevelName != null" >
        now_police_level_name,
      </if>
      <if test="nextPoliceLevelId != null" >
        next_police_level_id,
      </if>
      <if test="nextPoliceLevelName != null" >
        next_police_level_name,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="lastTime != null" >
        last_time,
      </if>
      <if test="nowTime != null" >
        now_time,
      </if>
      <if test="interval != null" >
        `interval`,
      </if>
      <if test="resumeScore != null" >
        resume_score,
      </if>
      <if test="holdOfficeScore != null" >
        hold_office_score,
      </if>
      <if test="totalScore != null" >
        total_score,
      </if>
      <if test="isCivilServant != null" >
        is_civil_servant,
      </if>
      <if test="isDisciplinaryAction != null" >
        is_disciplinary_action,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserId != null" >
        modify_user_id,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="policeId != null" >
        #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="headImage != null" >
        #{headImage,jdbcType=VARCHAR},
      </if>
      <if test="depId != null" >
        #{depId,jdbcType=INTEGER},
      </if>
      <if test="depName != null" >
        #{depName,jdbcType=VARCHAR},
      </if>
      <if test="postId != null" >
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="postName != null" >
        #{postName,jdbcType=VARCHAR},
      </if>
      <if test="nowPoliceLevelId != null" >
        #{nowPoliceLevelId,jdbcType=INTEGER},
      </if>
      <if test="nowPoliceLevelName != null" >
        #{nowPoliceLevelName,jdbcType=VARCHAR},
      </if>
      <if test="nextPoliceLevelId != null" >
        #{nextPoliceLevelId,jdbcType=INTEGER},
      </if>
      <if test="nextPoliceLevelName != null" >
        #{nextPoliceLevelName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nowTime != null" >
        #{nowTime,jdbcType=TIMESTAMP},
      </if>
      <if test="interval != null" >
        #{interval,jdbcType=INTEGER},
      </if>
      <if test="resumeScore != null" >
        #{resumeScore,jdbcType=DOUBLE},
      </if>
      <if test="holdOfficeScore != null" >
        #{holdOfficeScore,jdbcType=DOUBLE},
      </if>
      <if test="totalScore != null" >
        #{totalScore,jdbcType=DOUBLE},
      </if>
      <if test="isCivilServant != null" >
        #{isCivilServant,jdbcType=INTEGER},
      </if>
      <if test="isDisciplinaryAction != null" >
        #{isDisciplinaryAction,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bayee.political.domain.PolicePromotionRecordInfo" >
    update police_promotion_record_info
    <set >
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="policeId != null" >
        police_id = #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="headImage != null" >
        head_image = #{headImage,jdbcType=VARCHAR},
      </if>
      <if test="depId != null" >
        dep_id = #{depId,jdbcType=INTEGER},
      </if>
      <if test="depName != null" >
        dep_name = #{depName,jdbcType=VARCHAR},
      </if>
      <if test="postId != null" >
        post_id = #{postId,jdbcType=INTEGER},
      </if>
      <if test="postName != null" >
        post_name = #{postName,jdbcType=VARCHAR},
      </if>
      <if test="nowPoliceLevelId != null" >
        now_police_level_id = #{nowPoliceLevelId,jdbcType=INTEGER},
      </if>
      <if test="nowPoliceLevelName != null" >
        now_police_level_name = #{nowPoliceLevelName,jdbcType=VARCHAR},
      </if>
      <if test="nextPoliceLevelId != null" >
        next_police_level_id = #{nextPoliceLevelId,jdbcType=INTEGER},
      </if>
      <if test="nextPoliceLevelName != null" >
        next_police_level_name = #{nextPoliceLevelName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="lastTime != null" >
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nowTime != null" >
        now_time = #{nowTime,jdbcType=TIMESTAMP},
      </if>
      <if test="interval != null" >
        `interval` = #{interval,jdbcType=INTEGER},
      </if>
      <if test="resumeScore != null" >
        resume_score = #{resumeScore,jdbcType=DOUBLE},
      </if>
      <if test="holdOfficeScore != null" >
        hold_office_score = #{holdOfficeScore,jdbcType=DOUBLE},
      </if>
      <if test="totalScore != null" >
        total_score = #{totalScore,jdbcType=DOUBLE},
      </if>
      <if test="isCivilServant != null" >
        is_civil_servant = #{isCivilServant,jdbcType=INTEGER},
      </if>
      <if test="isDisciplinaryAction != null" >
        is_disciplinary_action = #{isDisciplinaryAction,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserId != null" >
        modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bayee.political.domain.PolicePromotionRecordInfo" >
    update police_promotion_record_info
    set `name` = #{name,jdbcType=VARCHAR},
      police_id = #{policeId,jdbcType=VARCHAR},
      head_image = #{headImage,jdbcType=VARCHAR},
      dep_id = #{depId,jdbcType=INTEGER},
      dep_name = #{depName,jdbcType=VARCHAR},
      post_id = #{postId,jdbcType=INTEGER},
      post_name = #{postName,jdbcType=VARCHAR},
      now_police_level_id = #{nowPoliceLevelId,jdbcType=INTEGER},
      now_police_level_name = #{nowPoliceLevelName,jdbcType=VARCHAR},
      next_police_level_id = #{nextPoliceLevelId,jdbcType=INTEGER},
      next_police_level_name = #{nextPoliceLevelName,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=INTEGER},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      now_time = #{nowTime,jdbcType=TIMESTAMP},
      `interval` = #{interval,jdbcType=INTEGER},
      resume_score = #{resumeScore,jdbcType=DOUBLE},
      hold_office_score = #{holdOfficeScore,jdbcType=DOUBLE},
      total_score = #{totalScore,jdbcType=DOUBLE},
      is_civil_servant = #{isCivilServant,jdbcType=INTEGER},
      is_disciplinary_action = #{isDisciplinaryAction,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      modify_user = #{modifyUser,jdbcType=VARCHAR},
      modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.PolicePromotionRecordInfo" >
    update police_promotion_record_info
    set `name` = #{name,jdbcType=VARCHAR},
      police_id = #{policeId,jdbcType=VARCHAR},
      head_image = #{headImage,jdbcType=VARCHAR},
      dep_id = #{depId,jdbcType=INTEGER},
      dep_name = #{depName,jdbcType=VARCHAR},
      post_id = #{postId,jdbcType=INTEGER},
      post_name = #{postName,jdbcType=VARCHAR},
      now_police_level_id = #{nowPoliceLevelId,jdbcType=INTEGER},
      now_police_level_name = #{nowPoliceLevelName,jdbcType=VARCHAR},
      next_police_level_id = #{nextPoliceLevelId,jdbcType=INTEGER},
      next_police_level_name = #{nextPoliceLevelName,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=INTEGER},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      now_time = #{nowTime,jdbcType=TIMESTAMP},
      `interval` = #{interval,jdbcType=INTEGER},
      resume_score = #{resumeScore,jdbcType=DOUBLE},
      hold_office_score = #{holdOfficeScore,jdbcType=DOUBLE},
      total_score = #{totalScore,jdbcType=DOUBLE},
      is_civil_servant = #{isCivilServant,jdbcType=INTEGER},
      is_disciplinary_action = #{isDisciplinaryAction,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      modify_user = #{modifyUser,jdbcType=VARCHAR},
      modify_user_id = #{modifyUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--晋升分页-->
  <select id="selectPageList" resultMap="BaseResultMap">
    select * from police_promotion_record_info where now_time between #{param.beginTime} and #{param.endTime} and type=#{param.type}
    <if test="param.depId != null">
      <if test="param.nowPoliceLevelId != null">
        <if test="param.postId != null">
          <if test="param.keyword != null and param.keyword != ''">
            and (dep_id=#{param.depId} or now_police_level_id=#{param.nowPoliceLevelId} or post_id=#{param.postId} or `name` like concat('%', #{param.keyword}, '%') or police_id like concat('%', #{param.keyword}, '%'))
          </if>
          <if test="param.keyword == null or param.keyword == ''">
            and (dep_id=#{param.depId} or now_police_level_id=#{param.nowPoliceLevelId} or post_id=#{param.postId})
          </if>
        </if>
        <if test="param.postId == null">
          <if test="param.keyword != null and param.keyword != ''">
            and (dep_id=#{param.depId} or now_police_level_id=#{param.nowPoliceLevelId}  or `name` like concat('%', #{param.keyword}, '%') or police_id like concat('%', #{param.keyword}, '%'))
          </if>
          <if test="param.keyword == null or param.keyword == ''">
            and (dep_id=#{param.depId} or now_police_level_id=#{param.nowPoliceLevelId}
          </if>
        </if>
      </if>
      <if test="param.nowPoliceLevelId == null">
        <if test="param.postId != null">
          <if test="param.keyword != null and param.keyword != ''">
            and (dep_id=#{param.depId} or post_id=#{param.postId} or `name` like concat('%', #{param.keyword}, '%') or police_id like concat('%', #{param.keyword}, '%'))
          </if>
          <if test="param.keyword == null or param.keyword == ''">
            and (dep_id=#{param.depId} or post_id=#{param.postId})
          </if>
        </if>
        <if test="param.postId == null">
          <if test="param.keyword != null and param.keyword != ''">
            and (dep_id=#{param.depId} or `name` like concat('%', #{param.keyword}, '%') or police_id like concat('%', #{param.keyword}, '%'))
          </if>
          <if test="param.keyword == null or param.keyword == ''">
            and dep_id=#{param.depId}
          </if>
        </if>
      </if>
    </if>

    <if test="param.depId == null">
      <if test="param.nowPoliceLevelId != null">
        <if test="param.postId != null">
          <if test="param.keyword != null and param.keyword != ''">
            and (now_police_level_id=#{param.nowPoliceLevelId} or post_id=#{param.postId} or `name` like concat('%', #{param.keyword}, '%') or police_id like concat('%', #{param.keyword}, '%'))
          </if>
          <if test="param.keyword == null or param.keyword == ''">
            and (now_police_level_id=#{param.nowPoliceLevelId} or post_id=#{param.postId})
          </if>
        </if>
        <if test="param.postId == null">
          <if test="param.keyword != null and param.keyword != ''">
            and (now_police_level_id=#{param.nowPoliceLevelId}  or `name` like concat('%', #{param.keyword}, '%') or police_id like concat('%', #{param.keyword}, '%'))
          </if>
          <if test="param.keyword == null or param.keyword == ''">
            and now_police_level_id=#{param.nowPoliceLevelId}
          </if>
        </if>
      </if>
    </if>


    <if test="param.depId == null">
      <if test="param.nowPoliceLevelId == null">
        <if test="param.postId != null">
          <if test="param.keyword != null and param.keyword != ''">
            and (post_id=#{param.postId} or `name` like concat('%', #{param.keyword}, '%') or police_id like concat('%', #{param.keyword}, '%'))
          </if>
          <if test="param.keyword == null or param.keyword == ''">
            and post_id=#{param.postId}
          </if>
        </if>
      </if>
    </if>


    <if test="param.depId == null">
      <if test="param.nowPoliceLevelId == null">
        <if test="param.postId == null">
          <if test="param.keyword != null and param.keyword != ''">
            and (`name` like concat('%', #{param.keyword}, '%') or police_id like concat('%', #{param.keyword}, '%'))
          </if>
        </if>
      </if>
    </if>
    order by total_score desc
  </select>
  <!--警员导出的接口-->
  <select id="SelectExport" resultMap="BaseResultMap">
    select * from police_promotion_record_info where type=#{type}
  </select>


  <select id="SelectExports" resultMap="BaseResultMap">
    select * from police_promotion_record_info where  DATE_FORMAT(now_time,'%Y')=#{year}  and `type`=#{type};
  </select>

  <!--查询是否晋升的接口-->
  <select id="selectPromotionList" resultType="com.bayee.political.domain.PolicePromotionRecordInfo">
     select u.police_id as policeId,u.`name` as `name`,u.head_image as headImage,d.id as depId,d.`name` as depName,pp.id
     as postId,pp.position_name as postName,p.id as nowPoliceLevelId,p.position_name nowPoliceLevelName,u.police_position_assign_date
     as nowTime,p.p_id as nextPoliceLevelId from `user` u inner join department d on u.department_id=d.id inner join police_position pp
     on pp.id=u.position_level inner join position p on p.id=u.police_position;
  </select>


  <!--查询是否晋升的接口-->
  <select id="selectPromotionInfos" resultType="com.bayee.political.domain.PolicePromotionRecordInfo">
     select u.police_id as policeId,u.`name` as `name`,u.head_image as headImage,d.id as depId,d.`name` as depName,pp.id
     as postId,pp.position_name as postName,p.id as nowPoliceLevelId,p.position_name nowPoliceLevelName,u.police_position_assign_date
     as nowTime,p.p_id as nextPoliceLevelId from `user` u inner join department d on u.department_id=d.id inner join police_position pp
     on pp.id=u.position_level inner join position p on p.id=u.police_position where u.police_id=#{policeId};
  </select>

  <!--查询警员参加工作时间-->
    <select id="selectUserWorkingHours" resultType="com.bayee.political.json.UserWorkingHoursResult">
		 select police_id as policeId,working_start_date as workingStartDate ,position_id as positionId from `user` where police_id=#{policeId};
    </select>

  <!--查询警员的所有纪律处分-->
  <select id="selectPoliceDisciplinaryActions" resultType="com.bayee.political.json.PolicePromotionsResult">
		 select DATE_FORMAT(punish_time,'%Y') as punishTime,sum(promotion_influence_period) as `sum` from disciplinary_record_info  where police_id=#{policeId} group by DATE_FORMAT(punish_time,'%Y');
  </select>
  
  <!--查询是否为公务员-->
  <select id="selectIsCivilServant" resultType="com.bayee.political.domain.RiskHonour">
		 select * from risk_honour where police_id =#{policeId} and honour_type_code='H00006' and DATE_FORMAT(business_time,'%Y') in(#{list})
  </select>
  
  <!--查询是否被处分-->
  <select id="selectDisciplinaryActions" resultType="com.bayee.political.domain.DisciplinaryRecordInfo">
		 select * from  disciplinary_record_info where police_id=#{policeId} and DATE_FORMAT(punish_time,'%Y') in(#{list})
  </select>

  <!--查询要晋升的警员-->
  <select id="selectListPage" resultType="com.bayee.political.json.PolicePromotionRecordResult">
    select sum(dr.promotion_influence_period) as sum,ppr.id as id,ppr.`name` as `name`,ppr.police_id as policeId,ppr.head_image as headImage
    ,ppr.dep_id as depId,ppr.dep_name as depName, ppr.post_id as postId,ppr.post_name as postName,ppr.now_police_level_id as nowPoliceLevelId
    ,ppr.now_police_level_name as nowPoliceLevelName,ppr.next_police_level_id as nextPoliceLevelId,ppr.next_police_level_name as nextPoliceLevelName
    ,ppr.type as `type`, ppr.last_time as lastTime,	ppr.now_time as nowTime,ppr.`interval` as `interval`,ppr.resume_score as resumeScore
    ,ppr.hold_office_score as holdOfficeScore,ppr.total_score as totalScore,ppr.is_civil_servant as isCivilServant,ppr.is_disciplinary_action as isDisciplinaryAction
    from police_promotion_record_info ppr
    left join disciplinary_record_info dr on ppr.police_id=dr.police_id where
    DATE_FORMAT(now_time,'%Y') &lt;&gt; #{year} GROUP BY ppr.police_id order by now_time desc

  </select>

  <!--警员晋升详情-->
  <select id="selectPolicePromotionInfo" resultType="com.bayee.political.json.PolicePromotionBasicUserInfoResult">
		 select u.id as id,u.head_image as headImage, u.police_id as policeId,u.`name` as `name`,
		 u.position_level as positionLevel,pp.position_name as positionName,u.gender as gender,
		 u.native_place as nativePlace,u.nation as nation,u.political_status as politicalStatus,
		 u.working_start_date as workingStartDate,u.employment_date as employmentDate,u.department_id as depId,
		 d.`name` as depName,u.police_position as policePosition,p.position_name as positionName,
		 u.joining_party_time as joiningPartyTime,u.kind_id as kindId,pk.police_king_name as policeKingName,
		 u.police_position_assign_date as policePositionAssignDate,u.station_post_id  as stationPostId,
		 u.marriage_status as marriageStatus,psp.post_name as postName
		 from `user` u inner join department d on u.department_id=d.id inner join police_position pp
     on pp.id=u.position_level inner join position p on p.id=u.police_position left join police_kind pk
		 on pk.id=u.kind_id left join police_station_post psp on  psp.id=u.station_post_id where u.police_id=#{policeId};
  </select>

  <select id="findByis" resultMap="BaseResultMap">
	select * from police_promotion_record_info where police_id=#{policeId} and DATE_FORMAT(now_time,'%Y')=#{nowTime};
  </select>

  <!--查询历任职级信息-->
  <select id="selectSuccessivePosts" resultType="com.bayee.political.json.PolicePromotionSuccessivePostsResult">
		 select dep_id as depId,dep_name as depName,now_time as nowTime,now_police_level_name as nowPoliceLevelName from police_promotion_record_info where police_id=#{policeId} group by now_time;
  </select>
</mapper>