<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bayee.political.mapper.PoliceRelevantMapper" >
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.PoliceRelevant" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="police_id" property="policeId" jdbcType="VARCHAR" />
    <result column="type_code" property="typeCode" jdbcType="VARCHAR" />
    <result column="deduction_score" property="deductionScore" jdbcType="DOUBLE" />
    <result column="business_date" property="businessDate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="udpate_date" property="udpateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, police_id, type_code, deduction_score, business_date, remark, creation_date, 
    udpate_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from police_relevant
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from police_relevant
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.PoliceRelevant" >
    insert into police_relevant (id, police_id, type_code, 
      deduction_score, business_date, remark, 
      creation_date, udpate_date)
    values (#{id,jdbcType=INTEGER}, #{policeId,jdbcType=VARCHAR}, #{typeCode,jdbcType=VARCHAR}, 
      #{deductionScore,jdbcType=DOUBLE}, #{businessDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{udpateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bayee.political.domain.PoliceRelevant" >
    insert into police_relevant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="policeId != null" >
        police_id,
      </if>
      <if test="typeCode != null" >
        type_code,
      </if>
      <if test="deductionScore != null" >
        deduction_score,
      </if>
      <if test="businessDate != null" >
        business_date,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
      <if test="udpateDate != null" >
        udpate_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="policeId != null" >
        #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="typeCode != null" >
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="deductionScore != null" >
        #{deductionScore,jdbcType=DOUBLE},
      </if>
      <if test="businessDate != null" >
        #{businessDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="udpateDate != null" >
        #{udpateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bayee.political.domain.PoliceRelevant" >
    update police_relevant
    <set >
      <if test="policeId != null" >
        police_id = #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="typeCode != null" >
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="deductionScore != null" >
        deduction_score = #{deductionScore,jdbcType=DOUBLE},
      </if>
      <if test="businessDate != null" >
        business_date = #{businessDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="udpateDate != null" >
        udpate_date = #{udpateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.PoliceRelevant" >
    update police_relevant
    set police_id = #{policeId,jdbcType=VARCHAR},
      type_code = #{typeCode,jdbcType=VARCHAR},
      deduction_score = #{deductionScore,jdbcType=DOUBLE},
      business_date = #{businessDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      udpate_date = #{udpateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="policeRelevantPage" resultType="com.bayee.political.pojo.PoliceRelevantPageResultDO"
          parameterType="com.bayee.political.json.PoliceRelevantPageQueryParam">
    select
        pr.id, pr.police_id as policeId, u.name as policeName, pr.deduction_score as deductionScore,
        prt2.name as typeName, prt1.name as childTypeName, date_format(pr.business_date, '%Y-%m-%d') as businessDate
    from police_relevant pr
        left join user u on pr.police_id = u.police_id
        left join police_relevant_type prt1 on pr.type_code = prt1.code
        left join police_relevant_type prt2 on prt1.p_code = prt2.code
    where 1 = 1
        <if test="typeCode != null and typeCode != ''">
           and prt1.code = #{typeCode}
        </if>
        <if test="key != null and key != ''">
          and (u.police_id like concat('%', #{key}, '%') or u.name like concat('%', #{key}, '%')
                   or prt1.name like concat('%', #{key}, '%') or prt2.name like concat('%', #{key}, '%'))
        </if>
    order by pr.creation_date desc
    limit #{pageIndex}, #{pageSize}
  </select>

  <select id="policeRelevantPageCount" resultType="Integer">
    select
      count(1)
    from police_relevant pr
      left join user u on pr.police_id = u.police_id
      left join police_relevant_type prt1 on pr.type_code = prt1.code
      left join police_relevant_type prt2 on prt1.p_code = prt2.code
    where 1 = 1
    <if test="typeCode != null and typeCode != ''">
      and prt1.code = #{typeCode}
    </if>
    <if test="key != null and key != ''">
      and (u.police_id like concat('%', #{key}, '%') or u.name like concat('%', #{key}, '%')
      or prt1.name like concat('%', #{key}, '%') or prt2.name like concat('%', #{key}, '%'))
    </if>
  </select>

</mapper>