<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bayee.political.mapper.PoliceRecentlySearchMapper">

    <resultMap id="BaseResultMap" type="com.bayee.political.domain.PoliceRecentlySearch">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="police_head_photo" property="policeHeadPhoto" jdbcType="VARCHAR"/>
        <result column="police_name" property="policeName" jdbcType="VARCHAR"/>
        <result column="police_id" property="policeId" jdbcType="VARCHAR"/>
        <result column="police_dept_name" property="policeDeptName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <!-- 新增警员全息最近搜索 -->
    <insert id="insert" parameterType="com.bayee.political.domain.PoliceRecentlySearch">
        insert into police_recently_search (id, police_head_photo, police_name,
          police_id, police_dept_name, create_time,
          update_time)
        values (#{id,jdbcType=INTEGER}, #{policeHeadPhoto,jdbcType=VARCHAR}, #{policeName,jdbcType=VARCHAR},
          #{policeId,jdbcType=VARCHAR}, #{policeDeptName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
          #{updateTime,jdbcType=TIMESTAMP})
    </insert>


    <!-- 查询警员全息最近搜索 -->
    <select id="findHolographicRecentlySearch" resultMap="BaseResultMap">
        select * from police_recently_search order by update_time desc limit 5
    </select>

    <!-- 根据警号查询警员全息最近排行 -->
    <select id="findByHolographicRecentlyPoliceId" resultMap="BaseResultMap">
        select * from police_recently_search where police_id = #{policeId}
    </select>


    <!-- 修改警员全息最近搜索 -->
    <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.PoliceRecentlySearch" >
        update police_recently_search
        set police_head_photo = #{policeHeadPhoto,jdbcType=VARCHAR},
          police_name = #{policeName,jdbcType=VARCHAR},
          police_id = #{policeId,jdbcType=VARCHAR},
          police_dept_name = #{policeDeptName,jdbcType=VARCHAR},
          create_time = #{createTime,jdbcType=TIMESTAMP},
          update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>


</mapper>