<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bayee.political.mapper.QuestionnaireOptionMapper" >
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.QuestionnaireOption" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="questionnaire_id" property="questionnaireId" jdbcType="INTEGER" />
    <result column="option_name" property="optionName" jdbcType="VARCHAR" />
    <result column="option_label" property="optionLabel" jdbcType="VARCHAR" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, questionnaire_id, option_name,option_label, creation_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from questionnaire_option
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from questionnaire_option
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.QuestionnaireOption" >
    insert into questionnaire_option (questionnaire_id, option_name, option_label,
      creation_date, update_date)
    values (#{questionnaireId,jdbcType=INTEGER}, #{optionName,jdbcType=VARCHAR},#{optionLabel,jdbcType=VARCHAR}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bayee.political.domain.QuestionnaireOption" >
    update questionnaire_option
    <set >
      <if test="questionnaireId != null" >
        questionnaire_id = #{questionnaireId,jdbcType=INTEGER},
      </if>
      <if test="optionName != null" >
        option_name = #{optionName,jdbcType=VARCHAR},
      </if>
      <if test="optionLabel != null" >
        option_label = #{optionLabel,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
   <!-- 问卷答案查询(api) -->
  <select id="questionnaireOptionList" parameterType="com.bayee.political.domain.QuestionnaireOption" resultMap="BaseResultMap">
select * from questionnaire_option where questionnaire_id = #{questionnaireId} order by id
</select>
</mapper>