<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bayee.political.mapper.RiskCaseLawEnforcementTypeMapper" >
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.RiskCaseLawEnforcementType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="deduction_score" property="deductionScore" jdbcType="DOUBLE" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, code, deduction_score, creation_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from risk_case_law_enforcement_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from risk_case_law_enforcement_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.RiskCaseLawEnforcementType" >
    insert into risk_case_law_enforcement_type (id, name, code, 
      deduction_score, creation_date, update_date
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{deductionScore,jdbcType=DOUBLE}, #{creationDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bayee.political.domain.RiskCaseLawEnforcementType" >
    insert into risk_case_law_enforcement_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="deductionScore != null" >
        deduction_score,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="deductionScore != null" >
        #{deductionScore,jdbcType=DOUBLE},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bayee.political.domain.RiskCaseLawEnforcementType" >
    update risk_case_law_enforcement_type
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="deductionScore != null" >
        deduction_score = #{deductionScore,jdbcType=DOUBLE},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.RiskCaseLawEnforcementType" >
    update risk_case_law_enforcement_type
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      deduction_score = #{deductionScore,jdbcType=DOUBLE},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getLawEnforcementType" resultMap="BaseResultMap">
    select * from risk_case_law_enforcement_type
  </select>

  <select id="getDutyType" resultMap="BaseResultMap">
    select * from risk_case_law_enforcement_type where code in('jcj')
  </select>

  <select id="findByNameAndParentId" resultType="Integer">
    select id from risk_case_law_enforcement_type where name = #{name}
    <if test="parentId != null">
      and parent_id = #{parentId}
    </if>
  </select>

  <select id="lawEnforcementReportTypeDOQuery" resultType="com.bayee.political.pojo.RiskReportTypeStatisticsDO">
    SELECT
        CONCAT(et2.name, ' -> ', et1.name) as typeName, COUNT(1) as typeCount
    FROM risk_case_law_enforcement_record a
           LEFT JOIN risk_case_law_enforcement_type et1 ON a.type = et1.id
           LEFT JOIN risk_case_law_enforcement_type et2 ON et1.parent_id = et2.id
    WHERE is_effective = 1 AND `type` IS NOT NULL AND police_id = #{policeId}
      <if test="timeType == 1">
        and DATE_FORMAT(a.creation_date, '%Y-%m')&gt;=#{lastMonthTime} and DATE_FORMAT(a.creation_date, '%Y-%m')&lt;=#{dateTime}
      </if>
      <if test="timeType == 2">
        and DATE_FORMAT(a.creation_date, '%Y-%m')=#{dateTime}
      </if>
    GROUP BY et1.parent_id
    order by typeCount desc
  </select>

</mapper>