<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bayee.political.mapper.RiskConductVisitMapper">
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.RiskConductVisit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="police_id" jdbcType="VARCHAR" property="policeId" />
    <result column="index_num" jdbcType="DOUBLE" property="indexNum" />
    <result column="deduction_score_count" jdbcType="INTEGER" property="deductionScoreCount" />
    <result column="total_deduction_score" jdbcType="DOUBLE" property="totalDeductionScore" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  
  <resultMap id="ScreenDoubeChartMap" type="com.bayee.political.domain.ScreenDoubeChart" >
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="value" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    id, police_id, index_num, deduction_score_count, total_deduction_score, creation_date, 
    update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from risk_conduct_visit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from risk_conduct_visit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.RiskConductVisit">
    insert into risk_conduct_visit (id, police_id, index_num, 
      deduction_score_count, total_deduction_score, 
      creation_date, update_date)
    values (#{id,jdbcType=INTEGER}, #{policeId,jdbcType=VARCHAR}, #{indexNum,jdbcType=DOUBLE}, 
      #{deductionScoreCount,jdbcType=INTEGER}, #{totalDeductionScore,jdbcType=DOUBLE}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bayee.political.domain.RiskConductVisit">
    insert into risk_conduct_visit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="policeId != null">
        police_id,
      </if>
      <if test="indexNum != null">
        index_num,
      </if>
      <if test="deductionScoreCount != null">
        deduction_score_count,
      </if>
      <if test="totalDeductionScore != null">
        total_deduction_score,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="policeId != null">
        #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="indexNum != null">
        #{indexNum,jdbcType=DOUBLE},
      </if>
      <if test="deductionScoreCount != null">
        #{deductionScoreCount,jdbcType=INTEGER},
      </if>
      <if test="totalDeductionScore != null">
        #{totalDeductionScore,jdbcType=DOUBLE},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bayee.political.domain.RiskConductVisit">
    update risk_conduct_visit
    <set>
      <if test="policeId != null">
        police_id = #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="indexNum != null">
        index_num = #{indexNum,jdbcType=DOUBLE},
      </if>
      <if test="deductionScoreCount != null">
        deduction_score_count = #{deductionScoreCount,jdbcType=INTEGER},
      </if>
      <if test="totalDeductionScore != null">
        total_deduction_score = #{totalDeductionScore,jdbcType=DOUBLE},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.RiskConductVisit">
    update risk_conduct_visit
    set police_id = #{policeId,jdbcType=VARCHAR},
      index_num = #{indexNum,jdbcType=DOUBLE},
      deduction_score_count = #{deductionScoreCount,jdbcType=INTEGER},
      total_deduction_score = #{totalDeductionScore,jdbcType=DOUBLE},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 警员信访投诉风险指数查询 -->
<select id="riskConductVisitItem"  resultMap="BaseResultMap">
	select id, police_id, sum(index_num) as index_num, 
	sum(deduction_score_count) as deduction_score_count ,
	sum(total_deduction_score) total_deduction_score from risk_conduct_visit
	where police_id=#{policeId,jdbcType=VARCHAR} 
    <if test="timeType == 1">
        and DATE_FORMAT(creation_date, '%Y') = SUBSTR(#{dateTime}, 1, 4)
	</if>
    <if test="timeType == 2">
	    and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}
	</if>
</select>
  
  <!-- 信访投诉风险指数图例 -->
<select id="riskConductVisitChart"  resultMap="ScreenDoubeChartMap">
select ifnull(b.value,0) as value,CONCAT(c.id,'月') as name
from(SELECT DATE_FORMAT(CURDATE(), '%Y-%m') AS `year_month` 
    UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 1 MONTH), '%Y-%m') AS `year_month` 
    UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 2 MONTH), '%Y-%m') AS `year_month` 
    UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 3 MONTH), '%Y-%m') AS `year_month` 
    UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 4 MONTH), '%Y-%m') AS `year_month` 
    UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 5 MONTH), '%Y-%m') AS `year_month` ) a
left join(select sum(index_num) as value,DATE_FORMAT(creation_date, '%Y-%m') as name from risk_conduct_visit
where police_id=#{policeId,jdbcType=VARCHAR} GROUP BY DATE_FORMAT(creation_date, '%Y-%m')) b on b.name=a.year_month
left join month c on c.num_name=right(a.year_month,2) 
order by a.year_month
</select>

  <select id="findRiskConductVisit" resultMap="BaseResultMap">
    select * from risk_conduct_visit
    where police_id=#{policeId,jdbcType=VARCHAR} and DATE_FORMAT(creation_date, '%Y-%m')=DATE_FORMAT(#{date}, '%Y-%m')
  </select>

  <select id="visitReportDOQuery" resultType="com.bayee.political.pojo.dto.RiskConductVisitReportDO">
    select
      max(deduction_score) as maxDeductionScore, count(1) as totalCount,
      (select name from risk_conduct_visit_type where id = (
        select
          type
        from risk_conduct_visit_record where police_id = #{policeId,jdbcType=VARCHAR}
          <if test="timeType == 1">
            and DATE_FORMAT(creation_date, '%Y') = SUBSTR(#{dateTime}, 1, 4)
          </if>
          <if test="timeType == 2">
            and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}
          </if>
        group by type order by count(1) desc limit 1)) as typeName
    from risk_conduct_visit_record
    where is_effective = 1 and police_id = #{policeId,jdbcType=VARCHAR}
      <if test="timeType == 1">
        and DATE_FORMAT(creation_date, '%Y') = SUBSTR(#{dateTime}, 1, 4)
      </if>
      <if test="timeType == 2">
        and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}
      </if>
  </select>

  <select id="conductVisitReportTypeDOQuery" resultType="com.bayee.political.pojo.RiskReportTypeStatisticsDO">
    SELECT
      CONCAT(vt2.name, ' -> ', vt1.name) typeName, COUNT(1) typeCount
    FROM risk_conduct_visit_record vr
           LEFT JOIN risk_conduct_visit_type vt1 ON vr.type = vt1.id
           LEFT JOIN risk_conduct_visit_type vt2 ON vt1.parent_id = vt2.id
    WHERE is_effective = 1 and police_id = #{policeId}
      <if test="timeType == 1">
        and DATE_FORMAT(vr.creation_date, '%Y-%m')&gt;=#{lastMonthTime} and DATE_FORMAT(vr.creation_date, '%Y-%m')&lt;=#{dateTime}
      </if>
      <if test="timeType == 2">
        and DATE_FORMAT(vr.creation_date, '%Y-%m')=#{dateTime}
      </if>
    GROUP BY vt1.id
    ORDER BY typeCount DESC
  </select>

  <select id="findGlobalIndexNum" resultType="com.bayee.political.pojo.GlobalIndexNumResultDO">
    SELECT
      ifnull(MAX(total_deduction_score), 0) as maxNum, ifnull(min(total_deduction_score), 0) as minNum
    FROM risk_conduct_visit
    where DATE_FORMAT(creation_date, '%Y-%m') = DATE_FORMAT(#{date}, '%Y-%m')
  </select>

</mapper>