<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bayee.political.mapper.RiskStutyActivitiesPartyMapper">
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.RiskStutyActivitiesParty">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="police_id" jdbcType="VARCHAR" property="policeId" />
    <result column="index_num" jdbcType="DOUBLE" property="indexNum" />
    <result column="is_join" jdbcType="INTEGER" property="isJoin" />
    <result column="total_deduction_score" jdbcType="DOUBLE" property="totalDeductionScore" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, police_id, index_num, is_join, total_deduction_score, creation_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from risk_stuty_activities_party
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from risk_stuty_activities_party
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.RiskStutyActivitiesParty">
    insert into risk_stuty_activities_party (id, police_id, index_num, 
      is_join, total_deduction_score, creation_date, 
      update_date)
    values (#{id,jdbcType=INTEGER}, #{policeId,jdbcType=VARCHAR}, #{indexNum,jdbcType=DOUBLE}, 
      #{isJoin,jdbcType=INTEGER}, #{totalDeductionScore,jdbcType=DOUBLE}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bayee.political.domain.RiskStutyActivitiesParty">
    insert into risk_stuty_activities_party
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="policeId != null">
        police_id,
      </if>
      <if test="indexNum != null">
        index_num,
      </if>
      <if test="isJoin != null">
        is_join,
      </if>
      <if test="totalDeductionScore != null">
        total_deduction_score,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="policeId != null">
        #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="indexNum != null">
        #{indexNum,jdbcType=DOUBLE},
      </if>
      <if test="isJoin != null">
        #{isJoin,jdbcType=INTEGER},
      </if>
      <if test="totalDeductionScore != null">
        #{totalDeductionScore,jdbcType=DOUBLE},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bayee.political.domain.RiskStutyActivitiesParty">
    update risk_stuty_activities_party
    <set>
      <if test="policeId != null">
        police_id = #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="indexNum != null">
        index_num = #{indexNum,jdbcType=DOUBLE},
      </if>
      <if test="isJoin != null">
        is_join = #{isJoin,jdbcType=INTEGER},
      </if>
      <if test="totalDeductionScore != null">
        total_deduction_score = #{totalDeductionScore,jdbcType=DOUBLE},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.RiskStutyActivitiesParty">
    update risk_stuty_activities_party
    set police_id = #{policeId,jdbcType=VARCHAR},
      index_num = #{indexNum,jdbcType=DOUBLE},
      is_join = #{isJoin,jdbcType=INTEGER},
      total_deduction_score = #{totalDeductionScore,jdbcType=DOUBLE},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>