<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bayee.political.mapper.RiskStutyActivitiesPartyRecordMapper">
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.RiskStutyActivitiesPartyRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="police_id" jdbcType="VARCHAR" property="policeId" />
    <result column="is_sign" jdbcType="INTEGER" property="isSign" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, police_id, is_sign, creation_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from risk_stuty_activities_party_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from risk_stuty_activities_party_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.RiskStutyActivitiesPartyRecord">
    insert into risk_stuty_activities_party_record (id, police_id, is_sign, 
      creation_date, update_date)
    values (#{id,jdbcType=INTEGER}, #{policeId,jdbcType=VARCHAR}, #{isSign,jdbcType=INTEGER}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bayee.political.domain.RiskStutyActivitiesPartyRecord">
    insert into risk_stuty_activities_party_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="policeId != null">
        police_id,
      </if>
      <if test="isSign != null">
        is_sign,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="policeId != null">
        #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="isSign != null">
        #{isSign,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bayee.political.domain.RiskStutyActivitiesPartyRecord">
    update risk_stuty_activities_party_record
    <set>
      <if test="policeId != null">
        police_id = #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="isSign != null">
        is_sign = #{isSign,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.RiskStutyActivitiesPartyRecord">
    update risk_stuty_activities_party_record
    set police_id = #{policeId,jdbcType=VARCHAR},
      is_sign = #{isSign,jdbcType=INTEGER},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="findByPoliceIdAndDate" resultMap="BaseResultMap">
    select * from risk_stuty_activities_party_record
    where police_id = #{policeId} and creation_date BETWEEN date_add(#{date},interval -day(#{date}) + 1 day) and LAST_DAY(#{date})
  </select>

  
  <select id="getByIdAndYearMonth" resultType="Integer">
	select * from risk_stuty_activities_party_record WHERE creation_date like CONCAT('%',#{yearMonth},'%') AND police_id=#{policeId}
</select>
</mapper>