<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bayee.political.mapper.RiskReportRecordMapper" >
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.RiskReportRecord" >
  	<id column="id" property="id" jdbcType="INTEGER" />
    <result column="police_id" property="policeId" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="month" property="month" jdbcType="VARCHAR" />
    <result column="total_num" property="totalNum" jdbcType="DOUBLE" />
    <result column="conduct_num" property="conductNum" jdbcType="DOUBLE" />
    <result column="handling_case_num" property="handlingCaseNum" jdbcType="DOUBLE" />
    <result column="duty_num" property="dutyNum" jdbcType="DOUBLE" />
    <result column="train_num" property="trainNum" jdbcType="DOUBLE" />
    <result column="social_contact_num" property="socialContactNum" jdbcType="DOUBLE" />
    <result column="amily_evaluation_num" property="amilyEvaluationNum" jdbcType="DOUBLE" />
    <result column="health_num" property="healthNum" jdbcType="DOUBLE" />
    <result column="drink_num" property="drinkNum" jdbcType="DOUBLE" />
    <result column="study_num" property="studyNum" jdbcType="DOUBLE" />
    <result column="work_num" property="workNum" jdbcType="DOUBLE" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="age" property="age" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ScreenDoubeChartMap" type="com.bayee.political.domain.ScreenDoubeChart" >
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="value" property="value" />
  </resultMap>
   <resultMap id="RiskHistoryReportTimeMap" type="com.bayee.political.domain.RiskHistoryReportTime" >
    <id column="id" property="id" />
    <result column="year" property="year" />
    <result column="timeType" property="timeType" />
  </resultMap>
   <resultMap id="RiskIndexMonitorChildMap" type="com.bayee.political.domain.RiskIndexMonitorChild" >
    <result column="indexPoliceNum" property="indexPoliceNum" />
    <result column="alarmPoliceNum" property="alarmPoliceNum" />
    <result column="alarmPoliceRate" property="alarmPoliceRate" />
    <result column="talkPoliceNum" property="talkPoliceNum" />
    <result column="isDisplay" property="isDisplay" />
  </resultMap>
  <resultMap id="RiskHistoryReportMap" type="com.bayee.political.domain.RiskHistoryReport" >
    <result column="police_id" property="policeId" />
    <result column="total_num" property="totalNum" />
    <result column="dateTime" property="dateTime" />
  </resultMap>
  <sql id="Base_Column_List" >
     id, police_id, year, month, total_num, conduct_num, handling_case_num, duty_num, 
    train_num, social_contact_num, amily_evaluation_num, health_num,drink_num,study_num,
    creation_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from risk_report_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from risk_report_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.RiskReportRecord" >
    insert into risk_report_record (id, police_id, year, 
      month, total_num, conduct_num, 
      handling_case_num, duty_num, train_num, 
      social_contact_num, amily_evaluation_num, health_num,
      drink_num,study_num, 
      creation_date, update_date)
    values (#{id,jdbcType=INTEGER}, #{policeId,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, 
      #{month,jdbcType=VARCHAR}, #{totalNum,jdbcType=DOUBLE}, #{conductNum,jdbcType=DOUBLE}, 
      #{handlingCaseNum,jdbcType=DOUBLE}, #{dutyNum,jdbcType=DOUBLE}, #{trainNum,jdbcType=DOUBLE}, 
      #{socialContactNum,jdbcType=DOUBLE}, #{amilyEvaluationNum,jdbcType=DOUBLE}, 
      #{healthNum,jdbcType=DOUBLE}, #{drinkNum,jdbcType=DOUBLE},
      #{studyNum,jdbcType=DOUBLE},
      #{creationDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <!-- 警员指标历史记录新增 -->
  <insert id="riskReportRecordCreat" keyColumn="id" keyProperty="id" parameterType="com.bayee.political.domain.RiskReportRecord" useGeneratedKeys="true">
    insert into risk_report_record (police_id, year, 
      month, total_num, conduct_num, 
      handling_case_num, duty_num, train_num, 
      social_contact_num, amily_evaluation_num, health_num,
      drink_num,study_num, 
      creation_date, update_date)
    values (#{policeId,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, 
      #{month,jdbcType=VARCHAR}, #{totalNum,jdbcType=DOUBLE}, #{conductNum,jdbcType=DOUBLE}, 
      #{handlingCaseNum,jdbcType=DOUBLE}, #{dutyNum,jdbcType=DOUBLE}, #{trainNum,jdbcType=DOUBLE}, 
      #{socialContactNum,jdbcType=DOUBLE}, #{amilyEvaluationNum,jdbcType=DOUBLE}, 
      #{healthNum,jdbcType=DOUBLE}, #{drinkNum,jdbcType=DOUBLE},
      #{studyNum,jdbcType=DOUBLE},
      #{creationDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bayee.political.domain.RiskReportRecord" useGeneratedKeys="true" keyProperty="id">
    insert into risk_report_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="policeId != null" >
        police_id,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="month != null" >
        month,
      </if>
      <if test="totalNum != null" >
        total_num,
      </if>
      <if test="conductNum != null" >
        conduct_num,
      </if>
      <if test="handlingCaseNum != null" >
        handling_case_num,
      </if>
      <if test="dutyNum != null" >
        duty_num,
      </if>
      <if test="trainNum != null" >
        train_num,
      </if>
      <if test="socialContactNum != null" >
        social_contact_num,
      </if>
      <if test="amilyEvaluationNum != null" >
        amily_evaluation_num,
      </if>
      <if test="healthNum != null" >
        health_num,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="policeId != null" >
        #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        #{month,jdbcType=VARCHAR},
      </if>
      <if test="totalNum != null" >
        #{totalNum,jdbcType=DOUBLE},
      </if>
      <if test="conductNum != null" >
        #{conductNum,jdbcType=DOUBLE},
      </if>
      <if test="handlingCaseNum != null" >
        #{handlingCaseNum,jdbcType=DOUBLE},
      </if>
      <if test="dutyNum != null" >
        #{dutyNum,jdbcType=DOUBLE},
      </if>
      <if test="trainNum != null" >
        #{trainNum,jdbcType=DOUBLE},
      </if>
      <if test="socialContactNum != null" >
        #{socialContactNum,jdbcType=DOUBLE},
      </if>
      <if test="amilyEvaluationNum != null" >
        #{amilyEvaluationNum,jdbcType=DOUBLE},
      </if>
      <if test="healthNum != null" >
        #{healthNum,jdbcType=DOUBLE},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="riskReportRecordUpdate" parameterType="com.bayee.political.domain.RiskReportRecord" >
    update risk_report_record
    <set >
      <if test="policeId != null" >
        police_id = #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        month = #{month,jdbcType=VARCHAR},
      </if>
      <if test="totalNum != null" >
        total_num = #{totalNum,jdbcType=DOUBLE},
      </if>
      <if test="conductNum != null" >
        conduct_num = #{conductNum,jdbcType=DOUBLE},
      </if>
      <if test="handlingCaseNum != null" >
        handling_case_num = #{handlingCaseNum,jdbcType=DOUBLE},
      </if>
      <if test="dutyNum != null" >
        duty_num = #{dutyNum,jdbcType=DOUBLE},
      </if>
      <if test="trainNum != null" >
        train_num = #{trainNum,jdbcType=DOUBLE},
      </if>
      <if test="socialContactNum != null" >
        social_contact_num = #{socialContactNum,jdbcType=DOUBLE},
      </if>
      <if test="amilyEvaluationNum != null" >
        amily_evaluation_num = #{amilyEvaluationNum,jdbcType=DOUBLE},
      </if>
      <if test="healthNum != null" >
        health_num = #{healthNum,jdbcType=DOUBLE},
      </if>
       <if test="drinkNum != null" >
        drink_num = #{drinkNum,jdbcType=DOUBLE},
      </if>
       <if test="studyNum != null" >
        study_num = #{studyNum,jdbcType=DOUBLE},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.RiskReportRecord" >
   update risk_report_record
    set police_id = #{policeId,jdbcType=VARCHAR},
      year = #{year,jdbcType=VARCHAR},
      month = #{month,jdbcType=VARCHAR},
      total_num = #{totalNum,jdbcType=DOUBLE},
      conduct_num = #{conductNum,jdbcType=DOUBLE},
      handling_case_num = #{handlingCaseNum,jdbcType=DOUBLE},
      duty_num = #{dutyNum,jdbcType=DOUBLE},
      train_num = #{trainNum,jdbcType=DOUBLE},
      social_contact_num = #{socialContactNum,jdbcType=DOUBLE},
      amily_evaluation_num = #{amilyEvaluationNum,jdbcType=DOUBLE},
      health_num = #{healthNum,jdbcType=DOUBLE},
      drink_num = #{drinkNum,jdbcType=DOUBLE},
      study_num = #{studyNum,jdbcType=DOUBLE},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 警员风险分页查询 -->
<select id="riskPageList" parameterType="com.bayee.political.domain.RiskReportRecord" resultMap="BaseResultMap">
  select a.*,b.name,b.head_image as headImage,
c.name as departmentName,d.position_name as positionName,
g.total_num as currentTotalNum,
round(ifnull((g.total_num-e.total_num)/e.total_num*100,0),2) as riskRate,
e.total_num as lastTotalNum,f.alarmTypes
from (select police_id,sum(total_num) as total_num,sum(conduct_num) as conduct_num, 
round(sum(handling_case_num),2) as handling_case_num, sum(duty_num) as duty_num, 
sum(train_num) as train_num, sum(social_contact_num) as social_contact_num, 
sum(amily_evaluation_num) as amily_evaluation_num, sum(drink_num) as drink_num,
sum(study_num) as study_num,sum(health_num) as health_num,sum(work_num) as work_num
from risk_report_record where DATE_FORMAT(creation_date, '%Y-%m')&gt;=#{lastMonthTime}
and DATE_FORMAT(creation_date, '%Y-%m')&lt;=#{dateTime} 
GROUP BY police_id order by ${orderName} desc limit #{num}) a
left join user b on b.police_id=a.police_id
left join department c on c.id=b.department_id
left join police_position d on d.id=b.position_id
left join (select * from risk_report_record 
where DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) g on g.police_id=a.police_id
left join (select * from risk_report_record 
where DATE_FORMAT(creation_date, '%Y-%m')=#{lastDateTime}) e on e.police_id=a.police_id
left join
(select GROUP_CONCAT(alarm_type) as alarmTypes,police_id from(SELECT distinct police_id,alarm_type FROM risk_alarm 
where DATE_FORMAT(creation_date,'%Y-%m')=#{dateTime}) as a
GROUP BY police_id) f on f.police_id=a.police_id
where 1=1
   <!--  <if test="alarmType != null and alarmType !=''">
	    and FIND_IN_SET(#{alarmType},f.alarmTypes)>0
	</if> -->
    <if test="keyWords != null and keyWords !=''">
	    and (a.police_id like '%${keyWords}%' or b.name like '%${keyWords}%')
	</if>
order by ${sortName} desc limit #{pageNum},#{pageSize}
</select>
<!-- 警员风险列表总数 -->
<select id="riskPageCount" parameterType="com.bayee.political.domain.RiskReportRecord" resultType="Integer">
  select count(*) from 
(select a.*,b.name,b.head_image as headImage,
c.name as departmentName,d.position_name as positionName,
g.total_num as currentTotalNum,
round(ifnull((g.total_num-e.total_num)/e.total_num*100,0),2) as riskRate,
e.total_num as lastTotalNum,f.alarmTypes
from (select police_id,sum(total_num) as total_num,sum(conduct_num) as conduct_num, 
sum(handling_case_num) as handling_case_num, sum(duty_num) as duty_num, 
sum(train_num) as train_num, sum(social_contact_num) as social_contact_num, 
sum(amily_evaluation_num) as amily_evaluation_num, sum(drink_num) as drink_num,
sum(study_num) as study_num,sum(health_num) as health_num,sum(work_num) as work_num
from risk_report_record where DATE_FORMAT(creation_date, '%Y-%m')&gt;=#{lastMonthTime}
and DATE_FORMAT(creation_date, '%Y-%m')&lt;=#{dateTime} 
GROUP BY police_id limit #{num}) a
left join user b on b.police_id=a.police_id
left join department c on c.id=b.department_id
left join police_position d on d.id=b.position_id
left join (select * from risk_report_record 
where DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) g on g.police_id=a.police_id
left join (select * from risk_report_record 
where DATE_FORMAT(creation_date, '%Y-%m')=#{lastDateTime}) e on e.police_id=a.police_id
left join
(select GROUP_CONCAT(alarm_type) as alarmTypes,police_id from(SELECT distinct police_id,alarm_type FROM risk_alarm 
where DATE_FORMAT(creation_date,'%Y-%m')=#{dateTime}) as a
GROUP BY police_id) f on f.police_id=a.police_id
where 1=1
    <!-- <if test="alarmType != null and alarmType !=''">
	    and FIND_IN_SET(#{alarmType},f.alarmTypes)>0
	</if> -->
    <if test="keyWords != null and keyWords !=''">
	    and (a.police_id like '%${keyWords}%' or b.name like '%${keyWords}%')
	</if>) as t
</select>
  <!-- 警员风险雷达图 -->
<select id="riskChartList" parameterType="com.bayee.political.domain.ScreenDoubeChart" resultMap="ScreenDoubeChartMap">
    select '行为规范' as name,(case when round(sum(conduct_num),2) >= 25 then 25 else round(sum(conduct_num),2) end) as value from risk_report_record
    where police_id=#{policeId}
      <if test="timeType == 1">
        and DATE_FORMAT(creation_date, '%Y-%m')&gt;=#{lastMonthTime} and DATE_FORMAT(creation_date, '%Y-%m')&lt;=#{dateTime}
      </if>
      <if test="timeType == 2">
        and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}
      </if>
    UNION ALL
    select '执法办案' as name,(case when round(sum(handling_case_num),2) >= 20 then 20 else round(sum(handling_case_num),2) end) as value from risk_report_record
    where police_id=#{policeId}
      <if test="timeType == 1">
        and DATE_FORMAT(creation_date, '%Y-%m')&gt;=#{lastMonthTime} and DATE_FORMAT(creation_date, '%Y-%m')&lt;=#{dateTime}
      </if>
      <if test="timeType == 2">
        and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}
      </if>
    UNION ALL
    select '接警执勤' as name,(case when round(sum(duty_num),2) >= 20 then 20 else round(sum(duty_num),2) end) as value from risk_report_record
    where police_id=#{policeId}
      <if test="timeType == 1">
        and DATE_FORMAT(creation_date, '%Y-%m')&gt;=#{lastMonthTime} and DATE_FORMAT(creation_date, '%Y-%m')&lt;=#{dateTime}
      </if>
      <if test="timeType == 2">
        and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}
      </if>
    UNION ALL
    select '警务技能' as name,(case when round(sum(train_num),2) >= 10 then 10 else round(sum(train_num),2) end) as value from risk_report_record
    where police_id=#{policeId}
      <if test="timeType == 1">
        and DATE_FORMAT(creation_date, '%Y-%m')&gt;=#{lastMonthTime} and DATE_FORMAT(creation_date, '%Y-%m')&lt;=#{dateTime}
      </if>
      <if test="timeType == 2">
        and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}
      </if>
    UNION ALL
    select '社交' as name,(case when round(sum(social_contact_num),2) >= 15 then 15 else round(sum(social_contact_num),2) end) as value from risk_report_record
    where police_id=#{policeId}
      <if test="timeType == 1">
        and DATE_FORMAT(creation_date, '%Y-%m')&gt;=#{lastMonthTime} and DATE_FORMAT(creation_date, '%Y-%m')&lt;=#{dateTime}
      </if>
      <if test="timeType == 2">
        and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}
      </if>
    UNION ALL
    select '家属评价' as name,(case when round(sum(amily_evaluation_num),2) >= 5 then 5 else round(sum(amily_evaluation_num),2) end) as value from risk_report_record
    where police_id=#{policeId}
      <if test="timeType == 1">
        and DATE_FORMAT(creation_date, '%Y-%m')&gt;=#{lastMonthTime} and DATE_FORMAT(creation_date, '%Y-%m')&lt;=#{dateTime}
      </if>
      <if test="timeType == 2">
        and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}
      </if>
  UNION ALL
  select '健康' as name,(select index_num from risk_health where police_id=#{policeId,jdbcType=VARCHAR}
  order by creation_date desc limit 1)
</select>
<!-- 警员风险详情查询 -->
<select id="riskReportRecordItem" parameterType="com.bayee.political.domain.RiskReportRecord" resultMap="BaseResultMap">
  select a.*,b.name,b.head_image as headImage,TIMESTAMPDIFF(YEAR,b.birthday,NOW()) as age,
  c.name as departmentName,d.position_name as positionName,
  g.total_num as currentTotalNum,
  round(ifnull((g.total_num-e.total_num)/e.total_num*100,0),2) as riskRate,
  e.total_num as lastTotalNum,f.alarmTypes
  from (select police_id,ifnull(sum(conduct_num), 0) as conduct_num,
  ifnull(round(sum(handling_case_num),2), 0) as handling_case_num, ifnull(sum(duty_num), 0) as duty_num,
  ifnull(sum(train_num), 0) as train_num, ifnull(sum(social_contact_num), 0) as social_contact_num,
  ifnull(sum(amily_evaluation_num), 0) as amily_evaluation_num,
    sum(drink_num) as drink_num,
    sum(study_num) as study_num,
    sum(work_num) as work_num,creation_date
  from risk_report_record where 1=1 and police_id = #{policeId}
  <if test="timeType == 1">
    and DATE_FORMAT(creation_date, '%Y-%m')&gt;=#{lastMonthTime} and DATE_FORMAT(creation_date, '%Y-%m')&lt;=#{dateTime}
  </if>
  <if test="timeType == 2">
    and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}
  </if>) a
  left join user b on b.police_id=a.police_id
  left join department c on c.id=b.department_id
  left join police_position d on d.id=b.position_id
  left join (select * from risk_report_record
  where DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) g on g.police_id=a.police_id
  left join (select * from risk_report_record
  where DATE_FORMAT(creation_date, '%Y-%m')=#{lastDateTime}) e on e.police_id=a.police_id
  left join
  (select GROUP_CONCAT(alarm_type) as alarmTypes,police_id from(SELECT distinct police_id,alarm_type FROM risk_alarm
  where DATE_FORMAT(creation_date,'%Y-%m')=#{dateTime}) as a
  GROUP BY police_id) f on f.police_id=a.police_id
  <if test="id != null and id !=''">
    and a.id = #{id,jdbcType=INTEGER}
  </if>
  and a.police_id = #{policeId} limit 1
</select>
<!-- 综合指数风险 -->
<select id="comprehensiveIndex" parameterType="com.bayee.political.domain.RiskIndexMonitorChild" resultMap="RiskIndexMonitorChildMap">
select ifnull(a.anum,0) as indexPoliceNum,
ifnull(b.bnum,0) as alarmPoliceNum,

(case when (select count(1) from risk_report_record where total_num >0) &lt;= 0 then 0
else round(ifnull(#{num}/a.anum,0)*100,2)  end)
as alarmPoliceRate,

(case when round(ifnull(b.bnum/a.anum,0)*100,2)>=50 then 1 else 0 end) as isDisplay,
ifnull(c.cnum,0) as talkPoliceNum from 
(SELECT count(*) as anum FROM risk_report_record 
where DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) a
join
(SELECT count(*) as bnum FROM risk_alarm 
where alarm_type=11001 and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) b
join
(select count(*) as cnum from risk_alarm where alarm_type=11001 and is_talk=1
and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) c
</select>
<!-- 行为规范风险 -->
<select id="drinkIndex" parameterType="com.bayee.political.domain.RiskIndexMonitorChild" resultMap="RiskIndexMonitorChildMap">
select ifnull(a.anum,0) as indexPoliceNum,
ifnull(b.bnum,0) as alarmPoliceNum,
round(ifnull(#{num}/a.anum,0)*100,2) as alarmPoliceRate,
(case when round(ifnull(b.bnum/a.anum,0)*100,2)>=50 then 1 else 0 end) as isDisplay,
ifnull(c.cnum,0) as talkPoliceNum from 
(SELECT count(*) as anum FROM risk_drink 
where DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) a
join
(SELECT count(*) as bnum FROM risk_alarm 
where alarm_type=11002 and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) b
join
(select count(*) as cnum from risk_alarm where alarm_type=11002 and is_talk=1
and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) c
</select>
<!-- 纪律作风风险 -->
<select id="conductIndex" parameterType="com.bayee.political.domain.RiskIndexMonitorChild" resultMap="RiskIndexMonitorChildMap">
select ifnull(a.anum,0) as indexPoliceNum,
ifnull(b.bnum,0) as alarmPoliceNum,

(case when (select count(1) from risk_conduct where index_num >0) &lt;= 0 then 0
else round(ifnull(#{num}/a.anum,0)*100,2)  end)
as alarmPoliceRate,

(case when round(ifnull(b.bnum/a.anum,0)*100,2)>=50 then 1 else 0 end) as isDisplay,
ifnull(c.cnum,0) as talkPoliceNum from 
(SELECT count(*) as anum FROM risk_conduct 
where DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) a
join
(SELECT count(*) as bnum FROM risk_alarm 
where alarm_type=11002 and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) b
join
(select count(*) as cnum from risk_alarm where alarm_type=11003 and is_talk=1
and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) c
</select>
<!-- 执法办案风险 -->
<select id="caseIndex" parameterType="com.bayee.political.domain.RiskIndexMonitorChild" resultMap="RiskIndexMonitorChildMap">
select ifnull(a.anum,0) as indexPoliceNum,
ifnull(b.bnum,0) as alarmPoliceNum,

(case when (select count(1) from risk_case where index_num >0) &lt;= 0 then 0
else round(ifnull(#{num}/a.anum,0)*100,2)  end)
as alarmPoliceRate,

(case when round(ifnull(b.bnum/a.anum,0)*100,2)>=50 then 1 else 0 end) as isDisplay,
ifnull(c.cnum,0) as talkPoliceNum from 
(SELECT count(*) as anum FROM risk_case 
where DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) a
join
(SELECT count(*) as bnum FROM risk_alarm 
where alarm_type=11003 and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) b
join
(select count(*) as cnum from risk_alarm where alarm_type=11003 and is_talk=1
and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) c
</select>
<!-- 接警执勤风险 -->
<select id="dutyIndex" parameterType="com.bayee.political.domain.RiskIndexMonitorChild" resultMap="RiskIndexMonitorChildMap">
select ifnull(a.anum,0) as indexPoliceNum,
ifnull(b.bnum,0) as alarmPoliceNum,

(case when (select count(1) from risk_duty where index_num >0) &lt;= 0 then 0
else round(ifnull(#{num}/a.anum,0)*100,2)  end)
as alarmPoliceRate,

(case when round(ifnull(b.bnum/a.anum,0)*100,2)>=50 then 1 else 0 end) as isDisplay,
ifnull(c.cnum,0) as talkPoliceNum from 
(SELECT count(*) as anum FROM risk_duty 
where DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) a
join
(SELECT count(*) as bnum FROM risk_alarm 
where alarm_type=11004 and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) b
join
(select count(*) as cnum from risk_alarm where alarm_type=11004 and is_talk=1
and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) c
</select>
<!-- 警务技能风险 -->
<select id="trainIndex" parameterType="com.bayee.political.domain.RiskIndexMonitorChild" resultMap="RiskIndexMonitorChildMap">
select ifnull(a.anum,0) as indexPoliceNum,
ifnull(b.bnum,0) as alarmPoliceNum,

(case when (select count(1) from risk_train where index_num >0) &lt;= 0 then 0
else round(ifnull(#{num}/a.anum,0)*100,2)  end)
as alarmPoliceRate,

(case when round(ifnull(b.bnum/a.anum,0)*100,2)>=50 then 1 else 0 end) as isDisplay,
ifnull(c.cnum,0) as talkPoliceNum from 
(SELECT count(*) as anum FROM risk_train 
where DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) a
join
(SELECT count(*) as bnum FROM risk_alarm 
where alarm_type=11005 and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) b
join
(select count(*) as cnum from risk_alarm where alarm_type=11005 and is_talk=1
and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) c
</select>
<!-- 社交风险 -->
<select id="socialContactIndex" parameterType="com.bayee.political.domain.RiskIndexMonitorChild" resultMap="RiskIndexMonitorChildMap">
select ifnull(a.anum,0) as indexPoliceNum,
ifnull(b.bnum,0) as alarmPoliceNum,


(case when (select count(1) from risk_social_contact where index_num >0) &lt;= 0 then 0
else round(ifnull(#{num}/a.anum,0)*100,2)  end)
as alarmPoliceRate,

(case when round(ifnull(b.bnum/a.anum,0)*100,2)>=50 then 1 else 0 end) as isDisplay,
ifnull(c.cnum,0) as talkPoliceNum from 
(SELECT count(*) as anum FROM risk_social_contact 
where DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) a
join
(SELECT count(*) as bnum FROM risk_alarm 
where alarm_type=11006 and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) b
join
(select count(*) as cnum from risk_alarm where alarm_type=11006 and is_talk=1
and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) c
</select>
<!-- 家属评价风险 -->
<select id="familyEvaluationIndex" parameterType="com.bayee.political.domain.RiskIndexMonitorChild" resultMap="RiskIndexMonitorChildMap">
select ifnull(a.anum,0) as indexPoliceNum,
ifnull(b.bnum,0) as alarmPoliceNum,

(case when (select count(1) from risk_family_evaluation where index_num >0) &lt;= 0 then 0
else round(ifnull(#{num}/a.anum,0)*100,2)  end)
as alarmPoliceRate,


(case when round(ifnull(b.bnum/a.anum,0)*100,2)>=50 then 1 else 0 end) as isDisplay,
ifnull(c.cnum,0) as talkPoliceNum from 
(SELECT count(*) as anum FROM risk_family_evaluation 
where DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) a
join
(SELECT count(*) as bnum FROM risk_alarm 
where alarm_type=11007 and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) b
join
(select count(*) as cnum from risk_alarm where alarm_type=11007 and is_talk=1
and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) c
</select>
<!-- 健康风险 -->
<select id="healthIndex" parameterType="com.bayee.political.domain.RiskIndexMonitorChild" resultMap="RiskIndexMonitorChildMap">
select ifnull(a.anum,0) as indexPoliceNum,
ifnull(b.bnum,0) as alarmPoliceNum,

(case when (select count(1) from risk_health where index_num >0) &lt;= 0 then 0
else round(ifnull(#{num}/a.anum,0)*100,2)  end)
as alarmPoliceRate,

(case when round(ifnull(b.bnum/a.anum,0)*100,2)>=50 then 1 else 0 end) as isDisplay,
ifnull(c.cnum,0) as talkPoliceNum from 
(SELECT count(*) as anum FROM risk_health 
where DATE_FORMAT(creation_date, '%Y')=#{year}) a
join
(SELECT count(*) as bnum FROM risk_alarm 
where alarm_type=11008 and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) b
join
(select count(*) as cnum from risk_alarm where alarm_type=11008 and is_talk=1
and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}) c
</select>
<!-- 警员历史风险报告查询 -->
<select id="riskHistoryReportList" parameterType="com.bayee.political.domain.RiskHistoryReport" resultMap="RiskHistoryReportMap">
SELECT a.*,CONCAT(b.id,'月') as dateTimeMonth,DATE_FORMAT(a.creation_date, '%Y-%m') as dateTime
FROM risk_report_record a
left join month b on b.num_name=a.month
where a.police_id=#{policeId} and DATE_FORMAT(a.creation_date, '%Y')=#{dateTime}
order by b.id desc
</select>

  <select id="findRiskReportRecord" resultMap="BaseResultMap">
    select * from risk_report_record where police_id = #{policeId} and year = #{year} and month = #{month} limit 1
  </select>
  
  <select id="getByPoliceIdMonth" resultMap="BaseResultMap">
	SELECT * FROM risk_report_record r WHERE r.`year`=#{year} AND r.`month`=#{month} AND r.police_id=#{policeId}
</select>

  <insert id="insertRiskReportRecords" parameterType="List">
    insert into risk_report_record (id, police_id, year,
          month, total_num, conduct_num,
          handling_case_num, duty_num, train_num,
          social_contact_num, amily_evaluation_num, health_num,
          drink_num,study_num,
          creation_date, update_date)
    values
    <foreach collection="list" item="item" separator=",">
      (null, #{item.policeId,jdbcType=VARCHAR}, #{item.year,jdbcType=VARCHAR},
      #{item.month,jdbcType=VARCHAR}, #{item.totalNum,jdbcType=DOUBLE}, #{item.conductNum,jdbcType=DOUBLE},
      #{item.handlingCaseNum,jdbcType=DOUBLE}, #{item.dutyNum,jdbcType=DOUBLE}, #{item.trainNum,jdbcType=DOUBLE},
      #{item.socialContactNum,jdbcType=DOUBLE}, #{item.amilyEvaluationNum,jdbcType=DOUBLE},
      #{item.healthNum,jdbcType=DOUBLE}, #{item.drinkNum,jdbcType=DOUBLE},
      #{item.studyNum,jdbcType=DOUBLE},
      #{item.creationDate,jdbcType=TIMESTAMP}, #{item.updateDate,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
<!-- 警员历史风险报告年份查询 -->
<select id="riskHistoryReportTimeList" parameterType="com.bayee.political.domain.RiskHistoryReportTime" resultMap="RiskHistoryReportTimeMap">
select 1 as id,'总计' as year,1 as timeType
UNION ALL
select * from(
select DATE_FORMAT(creation_date, '%Y') as id,concat(DATE_FORMAT(creation_date, '%Y'),'年')  as year,2 as timeType from risk_report_record 
where police_id=#{policeId}
GROUP BY DATE_FORMAT(creation_date, '%Y') order by DATE_FORMAT(creation_date, '%Y') desc) as t
</select>

<select id="findPoliceHealthScoreByYear" resultType="Double">
    select health_num from risk_report_record where police_id = #{policeId} and year = #{year} and health_num > 0 limit 1
  </select>
  
  <select id="findNotFamilyTotalNum" resultType="Double">
  	select conduct_num+handling_case_num+duty_num+train_num+social_contact_num+health_num+drink_num+study_num+work_num FROM risk_report_record WHERE id=#{id}
  </select>
</mapper>