<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bayee.political.mapper.RiskConductVisitRecordMapper">
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.RiskConductVisitRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="police_id" jdbcType="VARCHAR" property="policeId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="input_time" jdbcType="TIMESTAMP" property="inputTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="deduction_score" jdbcType="DOUBLE" property="deductionScore" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="bigTypeName" jdbcType="VARCHAR" property="bigTypeName" />
    <result column="smallTypeName" jdbcType="VARCHAR" property="smallTypeName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, police_id, type, input_time, content, remarks,deduction_score, creation_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select r.*,t.name as type_name, t.name as smallTypeName from risk_conduct_visit_record r
    left join risk_conduct_visit_type t on r.type = t.id
    where r.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from risk_conduct_visit_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.RiskConductVisitRecord">
    insert into risk_conduct_visit_record (id, police_id, type, 
      input_time, content, remarks, deduction_score,
      creation_date, update_date)
    values (#{id,jdbcType=INTEGER}, #{policeId,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{inputTime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{deductionScore},
      #{creationDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bayee.political.domain.RiskConductVisitRecord">
    insert into risk_conduct_visit_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="policeId != null">
        police_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="inputTime != null">
        input_time,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="deductionScore != null">
        deduction_score,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="policeId != null">
        #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="deductionScore != null">
        #{deductionScore},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bayee.political.domain.RiskConductVisitRecord">
    update risk_conduct_visit_record
    <set>
      <if test="policeId != null">
        police_id = #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="inputTime != null">
        input_time = #{inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="deductionScore != null">
        deduction_score = #{deductionScore},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.RiskConductVisitRecord">
    update risk_conduct_visit_record
    set police_id = #{policeId,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      input_time = #{inputTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},deduction_score = #{deductionScore},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="riskConductVisitRecordList" resultMap="BaseResultMap">
  	SELECT r.*,t.name as type_name FROM risk_conduct_visit_record r,risk_conduct_visit_type t WHERE
	 r.police_id=#{policeId} and r.type=t.id
	 <if test="timeType == 1">
	    and DATE_FORMAT(r.creation_date, '%Y-%m')&gt;=#{lastMonthTime} and DATE_FORMAT(r.creation_date, '%Y-%m')&lt;=#{dateTime}
	</if>
    <if test="timeType == 2">
	    and DATE_FORMAT(r.creation_date, '%Y-%m')=#{dateTime}
	</if>
	 ORDER BY r.id desc
  </select>

  <select id="findRiskConductVisitRecordList" resultMap="BaseResultMap">
    select * from risk_conduct_visit_record
    where police_id=#{policeId} and DATE_FORMAT(creation_date, '%Y-%m')=DATE_FORMAT(#{date}, '%Y-%m')
  </select>

  <select id="countByTypeId" resultType="Integer">
    select count(1) from risk_conduct_visit_record where type = #{typeId}
  </select>

  <select id="riskConductVisitRecordPage" resultMap="BaseResultMap">
    select r.*,t.name as type_name from risk_conduct_visit_record r
    left join risk_conduct_visit_type t on r.type = t.id
    order by r.id desc
    limit #{pageIndex}, #{pageSize}
  </select>

  <select id="getRiskConductVisitRecordPageCount" resultType="Integer">
    select count(1) from risk_conduct_visit_record
  </select>

</mapper>