<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bayee.political.mapper.RiskCaseLawEnforcementMapper" >
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.RiskCaseLawEnforcement" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="police_id" property="policeId" jdbcType="VARCHAR" />
    <result column="index_num" property="indexNum" jdbcType="DOUBLE" />
    <result column="total_deduction_score" property="totalDeductionScore" jdbcType="DOUBLE" />
    <result column="total_deduction_count" property="totalDeductionCount" jdbcType="INTEGER" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, police_id, index_num, total_deduction_score, total_deduction_count, creation_date, 
    update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from risk_case_law_enforcement
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from risk_case_law_enforcement
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.RiskCaseLawEnforcement" >
    insert into risk_case_law_enforcement (id, police_id, index_num, 
      total_deduction_score, total_deduction_count, 
      creation_date, update_date)
    values (#{id,jdbcType=INTEGER}, #{policeId,jdbcType=VARCHAR}, #{indexNum,jdbcType=DOUBLE}, 
      #{totalDeductionScore,jdbcType=DOUBLE}, #{totalDeductionCount,jdbcType=INTEGER}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bayee.political.domain.RiskCaseLawEnforcement" >
    insert into risk_case_law_enforcement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="policeId != null" >
        police_id,
      </if>
      <if test="indexNum != null" >
        index_num,
      </if>
      <if test="totalDeductionScore != null" >
        total_deduction_score,
      </if>
      <if test="totalDeductionCount != null" >
        total_deduction_count,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="policeId != null" >
        #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="indexNum != null" >
        #{indexNum,jdbcType=DOUBLE},
      </if>
      <if test="totalDeductionScore != null" >
        #{totalDeductionScore,jdbcType=DOUBLE},
      </if>
      <if test="totalDeductionCount != null" >
        #{totalDeductionCount,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bayee.political.domain.RiskCaseLawEnforcement" >
    update risk_case_law_enforcement
    <set >
      <if test="policeId != null" >
        police_id = #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="indexNum != null" >
        index_num = #{indexNum,jdbcType=DOUBLE},
      </if>
      <if test="totalDeductionScore != null" >
        total_deduction_score = #{totalDeductionScore,jdbcType=DOUBLE},
      </if>
      <if test="totalDeductionCount != null" >
        total_deduction_count = #{totalDeductionCount,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.RiskCaseLawEnforcement" >
    update risk_case_law_enforcement
    set police_id = #{policeId,jdbcType=VARCHAR},
      index_num = #{indexNum,jdbcType=DOUBLE},
      total_deduction_score = #{totalDeductionScore,jdbcType=DOUBLE},
      total_deduction_count = #{totalDeductionCount,jdbcType=INTEGER},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>