<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bayee.political.mapper.RiskConductBureauRuleTypeMapper">
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.RiskConductBureauRuleType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="typeName" jdbcType="VARCHAR" property="typeName" />
    <result column="deduct_score" jdbcType="DOUBLE" property="deductScore" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="rootName" jdbcType="VARCHAR" property="rootName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, deduct_score, parent_id, creation_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select t1.*, t2.`name` typeName from risk_conduct_bureau_rule_type t1,
                                         risk_conduct_bureau_rule_type t2 where t1.parent_id = t2.id
    and t1.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from risk_conduct_bureau_rule_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.RiskConductBureauRuleType">
    insert into risk_conduct_bureau_rule_type (id, name, deduct_score, parent_id, creation_date, update_date,level
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{deductScore}, #{parentId},
            #{creationDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{level}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bayee.political.domain.RiskConductBureauRuleType">
    insert into risk_conduct_bureau_rule_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="deductScore != null">
        deduct_score,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="deductScore != null">
        #{deductScore},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bayee.political.domain.RiskConductBureauRuleType">
    update risk_conduct_bureau_rule_type
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content},
      </if>
      <if test="deductScore != null">
        deduct_score = #{deductScore},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId}
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.RiskConductBureauRuleType">
    update risk_conduct_bureau_rule_type
    set name = #{name,jdbcType=VARCHAR},
        deduct_score = #{deductScore},
        parent_id = #{parentId},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="riskConductBureauRuleTypePage" resultMap="BaseResultMap">
    select
    r1.*, r2.`name` as typeName, r3.`name` as rootName
    from risk_conduct_bureau_rule_type r1, risk_conduct_bureau_rule_type r2, risk_conduct_bureau_rule_type r3
    where r1.parent_id = r2.id and r2.parent_id = r3.id
    <if test="list != null and list.size > 0">
      and (r2.id in (
        <foreach collection="list" item="item" separator=",">
          #{item}
        </foreach>
      ) or r3.id in (
        <foreach collection="list" item="item" separator=",">
          #{item}
        </foreach>
      ))
    </if>
    <if test="key != null and key != ''">
      and r1.name like CONCAT('%',#{key},'%')
    </if>
    order by r3.name, r2.`name`
    limit #{pageIndex}, #{pageSize}
  </select>

  <select id="getRiskConductBureauRuleTypePageCount" resultType="Integer">
    select
    count(1)
    from risk_conduct_bureau_rule_type r1, risk_conduct_bureau_rule_type r2, risk_conduct_bureau_rule_type r3
    where r1.parent_id = r2.id and r2.parent_id = r3.id
    <if test="list != null and list.size > 0">
      and (r2.id in (
          <foreach collection="list" item="item" separator=",">
            #{item}
          </foreach>
      ) or r3.id in (
        <foreach collection="list" item="item" separator=",">
          #{item}
        </foreach>
      ))
    </if>
    <if test="key != null and key != ''">
      and r1.name like CONCAT('%',#{key},'%')
    </if>
  </select>

  <select id="getAllRiskConductBureauRuleType" resultMap="BaseResultMap">
    select * from risk_conduct_bureau_rule_type
  </select>

  <select id="countRuleTypeByNameAndRuleType" resultType="Integer">
    select count(1) from risk_conduct_bureau_rule_type where name = #{name} and parent_id = #{parentId}
    <if test="id != null">
      and id != #{id}
    </if>
  </select>

  <select id="getMeasuresType" resultMap="BaseResultMap">
    select * from risk_conduct_bureau_rule_type where level = 1
  </select>

  <select id="findById" resultType="com.bayee.political.pojo.dto.ConductBureauRuleTypeDetailsDO">
    select
      t3.id as rootTypeId, t3.name as rootTypeName,t2.id as parentId, t2.name as parentTypeName,
      t.name as name, t.deduct_score as deductScore
    from risk_conduct_bureau_rule_type t,risk_conduct_bureau_rule_type t2, risk_conduct_bureau_rule_type t3
    where t.parent_id = t2.id and t2.parent_id = t3.id and t.id = #{id}
  </select>

  <select id="getTotalTypeByScoringOptionName" resultType="HashMap">
    select
      r1.id, r1.deduct_score as deductScore, r1.name, r2.id as parentId, r2.parent_id as rootId
    from risk_conduct_bureau_rule_type r1, risk_conduct_bureau_rule_type r2
    where r1.parent_id = r2.id and
      r1.level = 3 and r1.name like concat('%', #{name},'%')
  </select>

  <select id="findTypeByCode" resultMap="BaseResultMap">
    select * from risk_conduct_bureau_rule_type where code = #{typeCode}
  </select>

</mapper>