<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bayee.political.mapper.RiskDutyDealPoliceRecordMapper" >
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.RiskDutyDealPoliceRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="police_id" property="policeId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="input_time" property="inputTime" jdbcType="TIMESTAMP" />
    <result column="deduction_score" property="deductionScore" jdbcType="DOUBLE" />
    <result column="information_id" property="informationId" jdbcType="INTEGER" />
    <result column="error_id" property="errorId" jdbcType="INTEGER" />
    <result column="police_list_code" property="policeListCode" jdbcType="VARCHAR" />
    <result column="jurisdiction" property="jurisdiction" jdbcType="VARCHAR" />
    <result column="police_list_info" property="policeListInfo" jdbcType="VARCHAR" />
    <result column="is_verified" property="isVerified" jdbcType="INTEGER" />
    <result column="img_arr" property="imgArr" jdbcType="VARCHAR" />
    <result column="is_effective" property="isEffective" jdbcType="INTEGER" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="appealState" property="appealState" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, police_id, type, content, input_time, deduction_score, information_id, error_id, 
    police_list_code, jurisdiction, police_list_info, is_verified, img_arr, is_effective, 
    creation_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from risk_duty_deal_police_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from risk_duty_deal_police_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.RiskDutyDealPoliceRecord" >
    insert into risk_duty_deal_police_record (id, police_id, type, 
      content, input_time, deduction_score, 
      information_id, error_id, police_list_code, 
      jurisdiction, police_list_info, is_verified, 
      img_arr, is_effective, creation_date, 
      update_date)
    values (#{id,jdbcType=INTEGER}, #{policeId,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{inputTime,jdbcType=TIMESTAMP}, #{deductionScore,jdbcType=DOUBLE}, 
      #{informationId,jdbcType=INTEGER}, #{errorId,jdbcType=INTEGER}, #{policeListCode,jdbcType=VARCHAR}, 
      #{jurisdiction,jdbcType=VARCHAR}, #{policeListInfo,jdbcType=VARCHAR}, #{isVerified,jdbcType=INTEGER}, 
      #{imgArr,jdbcType=VARCHAR}, #{isEffective,jdbcType=INTEGER}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bayee.political.domain.RiskDutyDealPoliceRecord" >
    insert into risk_duty_deal_police_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="policeId != null" >
        police_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="inputTime != null" >
        input_time,
      </if>
      <if test="deductionScore != null" >
        deduction_score,
      </if>
      <if test="informationId != null" >
        information_id,
      </if>
      <if test="errorId != null" >
        error_id,
      </if>
      <if test="policeListCode != null" >
        police_list_code,
      </if>
      <if test="jurisdiction != null" >
        jurisdiction,
      </if>
      <if test="policeListInfo != null" >
        police_list_info,
      </if>
      <if test="isVerified != null" >
        is_verified,
      </if>
      <if test="imgArr != null" >
        img_arr,
      </if>
      <if test="isEffective != null" >
        is_effective,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="policeId != null" >
        #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null" >
        #{inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deductionScore != null" >
        #{deductionScore,jdbcType=DOUBLE},
      </if>
      <if test="informationId != null" >
        #{informationId,jdbcType=INTEGER},
      </if>
      <if test="errorId != null" >
        #{errorId,jdbcType=INTEGER},
      </if>
      <if test="policeListCode != null" >
        #{policeListCode,jdbcType=VARCHAR},
      </if>
      <if test="jurisdiction != null" >
        #{jurisdiction,jdbcType=VARCHAR},
      </if>
      <if test="policeListInfo != null" >
        #{policeListInfo,jdbcType=VARCHAR},
      </if>
      <if test="isVerified != null" >
        #{isVerified,jdbcType=INTEGER},
      </if>
      <if test="imgArr != null" >
        #{imgArr,jdbcType=VARCHAR},
      </if>
      <if test="isEffective != null" >
        #{isEffective,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bayee.political.domain.RiskDutyDealPoliceRecord" >
    update risk_duty_deal_police_record
    <set >
      <if test="policeId != null" >
        police_id = #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null" >
        input_time = #{inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deductionScore != null" >
        deduction_score = #{deductionScore,jdbcType=DOUBLE},
      </if>
      <if test="informationId != null" >
        information_id = #{informationId,jdbcType=INTEGER},
      </if>
      <if test="errorId != null" >
        error_id = #{errorId,jdbcType=INTEGER},
      </if>
      <if test="policeListCode != null" >
        police_list_code = #{policeListCode,jdbcType=VARCHAR},
      </if>
      <if test="jurisdiction != null" >
        jurisdiction = #{jurisdiction,jdbcType=VARCHAR},
      </if>
      <if test="policeListInfo != null" >
        police_list_info = #{policeListInfo,jdbcType=VARCHAR},
      </if>
      <if test="isVerified != null" >
        is_verified = #{isVerified,jdbcType=INTEGER},
      </if>
      <if test="imgArr != null" >
        img_arr = #{imgArr,jdbcType=VARCHAR},
      </if>
      <if test="isEffective != null" >
        is_effective = #{isEffective,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.RiskDutyDealPoliceRecord" >
    update risk_duty_deal_police_record
    set police_id = #{policeId,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      input_time = #{inputTime,jdbcType=TIMESTAMP},
      deduction_score = #{deductionScore,jdbcType=DOUBLE},
      information_id = #{informationId,jdbcType=INTEGER},
      error_id = #{errorId,jdbcType=INTEGER},
      police_list_code = #{policeListCode,jdbcType=VARCHAR},
      jurisdiction = #{jurisdiction,jdbcType=VARCHAR},
      police_list_info = #{policeListInfo,jdbcType=VARCHAR},
      is_verified = #{isVerified,jdbcType=INTEGER},
      img_arr = #{imgArr,jdbcType=VARCHAR},
      is_effective = #{isEffective,jdbcType=INTEGER},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 警员接警执勤数据列表查询 -->
<select id="riskDutyRecordList" parameterType="com.bayee.political.domain.RiskDutyDealPoliceRecord" resultMap="BaseResultMap">
  select
         a.*,itype.name as typeName,a.deduction_score as deductionScore,
        ifnull((select state from risk_record_verify where type_id = 1013 and module_id = a.id), 0) as appealState
  from risk_duty_deal_police_record a
    left join risk_duty_error_type itype on a.information_id = itype.id
  where a.police_id=#{policeId,jdbcType=VARCHAR}
  <if test="timeType == 1">
    and DATE_FORMAT(a.creation_date, '%Y-%m')&gt;=#{lastMonthTime} and DATE_FORMAT(a.creation_date, '%Y-%m')&lt;=#{dateTime}
  </if>
  <if test="timeType == 2">
    and DATE_FORMAT(a.creation_date, '%Y-%m')=#{dateTime}
  </if>
  order by id desc
</select>

  <select id="findRiskDutyDealPoliceRecordList" resultMap="BaseResultMap">
    select * from risk_duty_deal_police_record
    where is_effective = 1 and police_id = #{policeId}
      and DATE_FORMAT(creation_date, '%Y-%m') = DATE_FORMAT(#{date}, '%Y-%m')
  </select>

  <select id="countPoliceCaseData" resultType="Integer">
    select count(1) from risk_duty_deal_police_record
    where police_id = #{policeId} and DATE_FORMAT(creation_date, '%Y-%m') = DATE_FORMAT(#{date}, '%Y-%m')
  </select>

  <select id="findPoliceAvgDeductionScoreByDate" resultType="Double">
    select ifnull(TRUNCATE((sum(deduction_score) * 10) / (select count(1) from risk_duty
                        where DATE_FORMAT(creation_date, '%Y-%m') = DATE_FORMAT(#{date}, '%Y-%m')), 2), 0) as avg_score
    from risk_duty_deal_police_record
    where DATE_FORMAT(creation_date, '%Y-%m') = DATE_FORMAT(#{date}, '%Y-%m');
  </select>

  <select id="riskDutyDealPoliceRecordPage" resultType="com.bayee.political.pojo.dto.DutyPageDO">
    select
      record.id,
      u.police_id as policeId, u.name as policeName, record.police_list_code as policeListCode, record.jurisdiction,
      itype.name as informationName, etype.name as errorName, record.deduction_score as deductScore,
      DATE_FORMAT(record.creation_date, '%Y-%m-%d %H:%i:%s') as date
    from risk_duty_deal_police_record record
      left join user u on record.police_id = u.police_id
      left join risk_duty_information_type itype on record.information_id = itype.id
      left join risk_duty_error_type etype on record.error_id = etype.id
    where 1 = 1
    <if test="key!=null and key!=''">
      AND (u.name like CONCAT('%',#{key},'%') OR u.police_id like CONCAT('%',#{key},'%') OR record.content LIKE CONCAT('%',#{key},'%'))
    </if>
    <if test="informationId != null">
      AND itype.id in (
      <foreach collection="informationId" item="item" separator=",">
        #{item}
      </foreach>
      )
    </if>
    <if test="errorId != null">
      AND etype.id = #{errorId}
    </if>
    <if test="deptId != null">
      and u.department_id = #{deptId}
    </if>
    order by record.id desc
    limit #{pageIndex}, #{pageSize}
  </select>

  <select id="riskDutyDealPoliceRecordPageCount" resultType="Integer">
    select
      count(1)
    from risk_duty_deal_police_record record
      left join user u on record.police_id = u.police_id
      left join risk_duty_information_type itype on record.information_id = itype.id
      left join risk_duty_error_type etype on record.error_id = etype.id
    where 1 = 1
    <if test="key != null and key != ''">
      AND (u.name like CONCAT('%',#{key},'%') OR u.police_id like CONCAT('%',#{key},'%') OR record.content LIKE CONCAT('%',#{key},'%'))
    </if>
    <if test="informationId != null">
      AND itype.id in (
          <foreach collection="informationId" item="item" separator=",">
            #{item}
          </foreach>
      )
    </if>
    <if test="errorId != null">
      AND etype.id = #{errorId}
    </if>
    <if test="deptId != null">
      and u.department_id = #{deptId}
    </if>
  </select>

  <select id="findById" resultType="com.bayee.political.pojo.dto.DutyDetailsDO">
    select
      u.police_id as policeId, u.name as policeName, record.police_list_code as policeListCode, record.jurisdiction,
      itype.id as informationId, itype.name as informationName, record.police_list_info as policeListInfo, etype.id as errorId,
      etype.name as errorName, record.is_verified as isVerified, record.content as `desc`, record.deduction_score as deductScore,
      DATE_FORMAT(record.creation_date, '%Y-%m-%d %H:%i:%s') as date, record.img_arr as imgArr
    from risk_duty_deal_police_record record
      left join user u on record.police_id = u.police_id
      left join risk_duty_information_type itype on record.information_id = itype.id
      left join risk_duty_error_type etype on record.error_id = etype.id
    where record.id = #{id}
  </select>

  <select id="countAll" resultType="Integer">
    select count(1) from risk_duty_deal_police_record
  </select>

  <select id="getReplaceErrorCount" resultType="Integer">
    select
      ifnull(count(1), 0)
    from risk_duty_deal_police_record
    where police_id = #{policeId} and error_id = #{type}
    group by police_id, error_id having count(1) >= 2
  </select>

  <select id="findDutyRecordYearAndMont" resultType="com.bayee.political.pojo.dto.RiskPoliceDutyResultDO">
    select
        u.name as policeName,itype.name as typeName, etype.name as errorTypeName,
        record.deduction_score as deductionScore, record.creation_date as `date`
    from risk_duty_deal_police_record record
        left join user u on record.police_id = u.police_id
        left join risk_duty_information_type itype on record.information_id = itype.id
        left join risk_duty_error_type etype on record.error_id = etype.id
    where record.police_id = #{policeId}
    <if test="year != null and year != ''">
      and year(record.creation_date) = #{year}
    </if>
    <if test="month != null and month != ''">
      and month(record.creation_date) = #{month}
    </if>
  </select>

  <select id="dutyReportTypeDOQuery" resultType="com.bayee.political.pojo.RiskReportTypeStatisticsDO">
    SELECT
      it.name as typeName, COUNT(1) as typeCount
    FROM risk_duty_deal_police_record pr
           LEFT JOIN risk_duty_information_type it ON pr.information_id = it.id
    WHERE is_effective = 1 and police_id = #{policeId}
    <if test="timeType == 1">
      and DATE_FORMAT(pr.creation_date, '%Y-%m')&gt;=#{lastMonthTime} and DATE_FORMAT(pr.creation_date, '%Y-%m')&lt;=#{dateTime}
    </if>
    <if test="timeType == 2">
      and DATE_FORMAT(pr.creation_date, '%Y-%m')=#{dateTime}
    </if>
    GROUP BY it.id
  </select>

  <select id="caseLawTrends" resultType="HashMap">
        SELECT * FROM (
                          SELECT v.`month` AS name,IFNULL(b.total,0) value FROM (
                              SELECT DATE_FORMAT(CURDATE(), '%Y-%m') AS `month`
                              UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 1 MONTH), '%Y-%m') AS `month`
                              UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 2 MONTH), '%Y-%m') AS `month`
                              UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 3 MONTH), '%Y-%m') AS `month`
                              UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 4 MONTH), '%Y-%m') AS `month`
                              UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 5 MONTH), '%Y-%m') AS `month`) v
                              LEFT JOIN
                              (SELECT DATE_FORMAT(a.input_time,'%Y-%m') AS paTime,count(1) AS total FROM risk_duty_deal_police_record a GROUP BY paTime) b
                          ON b.paTime=v.`month`) a ORDER BY a.name ASC

  </select>

  <select id="dutyNum" resultType="integer">
		SELECT count(1) FROM (SELECT count(1) total,r.police_id,r.type FROM risk_duty_deal_police_record r GROUP BY r.police_id,r.type) a WHERE a.total>1
  </select>

  <select id="dutySum" resultType="integer">
		SELECT count(1) FROM (SELECT count(1) FROM risk_duty_deal_police_record r GROUP BY r.police_id) a;
  </select>
</mapper>