<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bayee.political.mapper.RiskStutyUnitTrainRecordMapper">
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.RiskStutyUnitTrainRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="police_id" jdbcType="VARCHAR" property="policeId" />
    <result column="is_city_train" jdbcType="INTEGER" property="isCityTrain" />
    <result column="is_police_system" jdbcType="INTEGER" property="isPoliceSystem" />
    <result column="is_education_rectification" jdbcType="INTEGER" property="isEducationRectification" />
    <result column="is_party_style_construction" jdbcType="INTEGER" property="isPartyStyleConstruction" />
    <result column="total_count" jdbcType="INTEGER" property="totalCount" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, police_id, is_city_train, is_police_system, is_education_rectification, is_party_style_construction, 
    total_count, creation_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from risk_stuty_unit_train_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from risk_stuty_unit_train_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.RiskStutyUnitTrainRecord">
    insert into risk_stuty_unit_train_record (id, police_id, is_city_train, 
      is_police_system, is_education_rectification, 
      is_party_style_construction, total_count, creation_date, 
      update_date)
    values (#{id,jdbcType=INTEGER}, #{policeId,jdbcType=VARCHAR}, #{isCityTrain,jdbcType=INTEGER}, 
      #{isPoliceSystem,jdbcType=INTEGER}, #{isEducationRectification,jdbcType=INTEGER}, 
      #{isPartyStyleConstruction,jdbcType=INTEGER}, #{totalCount,jdbcType=INTEGER}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bayee.political.domain.RiskStutyUnitTrainRecord">
    insert into risk_stuty_unit_train_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="policeId != null">
        police_id,
      </if>
      <if test="isCityTrain != null">
        is_city_train,
      </if>
      <if test="isPoliceSystem != null">
        is_police_system,
      </if>
      <if test="isEducationRectification != null">
        is_education_rectification,
      </if>
      <if test="isPartyStyleConstruction != null">
        is_party_style_construction,
      </if>
      <if test="totalCount != null">
        total_count,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="policeId != null">
        #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="isCityTrain != null">
        #{isCityTrain,jdbcType=INTEGER},
      </if>
      <if test="isPoliceSystem != null">
        #{isPoliceSystem,jdbcType=INTEGER},
      </if>
      <if test="isEducationRectification != null">
        #{isEducationRectification,jdbcType=INTEGER},
      </if>
      <if test="isPartyStyleConstruction != null">
        #{isPartyStyleConstruction,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bayee.political.domain.RiskStutyUnitTrainRecord">
    update risk_stuty_unit_train_record
    <set>
      <if test="policeId != null">
        police_id = #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="isCityTrain != null">
        is_city_train = #{isCityTrain,jdbcType=INTEGER},
      </if>
      <if test="isPoliceSystem != null">
        is_police_system = #{isPoliceSystem,jdbcType=INTEGER},
      </if>
      <if test="isEducationRectification != null">
        is_education_rectification = #{isEducationRectification,jdbcType=INTEGER},
      </if>
      <if test="isPartyStyleConstruction != null">
        is_party_style_construction = #{isPartyStyleConstruction,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        total_count = #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.RiskStutyUnitTrainRecord">
    update risk_stuty_unit_train_record
    set police_id = #{policeId,jdbcType=VARCHAR},
      is_city_train = #{isCityTrain,jdbcType=INTEGER},
      is_police_system = #{isPoliceSystem,jdbcType=INTEGER},
      is_education_rectification = #{isEducationRectification,jdbcType=INTEGER},
      is_party_style_construction = #{isPartyStyleConstruction,jdbcType=INTEGER},
      total_count = #{totalCount,jdbcType=INTEGER},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 警员机关单位培训风险查询 -->
<select id="riskStutyUnitTrainIndexItem" parameterType="com.bayee.political.domain.RiskStutyUnitTrainRecord" resultMap="BaseResultMap">
select a.*, round(ifnull(a.over_train/a.need_train*100,0),2) as overTrainRate,
b.is_city_train, b.is_police_system, b.is_education_rectification, b.is_party_style_construction, 
b.total_count from risk_stuty_unit_train a
left join risk_stuty_unit_train_record b on b.police_id=a.police_id 
and DATE_FORMAT(b.creation_date, '%Y-%m')=DATE_FORMAT(a.creation_date, '%Y-%m')
where a.police_id=#{policeId,jdbcType=VARCHAR} and DATE_FORMAT(a.creation_date, '%Y-%m')=#{dateTime}
order by id desc limit 1
</select>

  <select id="findRiskStutyUnitTrainRecordByPoliceIdAndDate" resultMap="BaseResultMap">
    select * from risk_stuty_unit_train_record
    where police_id = #{policeId} and creation_date BETWEEN date_add(#{date},interval -day(#{date}) + 1 day) and LAST_DAY(#{date})
  </select>

<select id="getByIdAndYearMonth" resultType="Integer">
	select * from risk_stuty_unit_train_record WHERE creation_date like CONCAT('%',#{yearMonth},'%') AND police_id=#{policeId}
</select>
</mapper>