<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bayee.political.mapper.RiskConductTrafficViolationMapper" >
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.RiskConductTrafficViolation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="police_id" property="policeId" jdbcType="VARCHAR" />
    <result column="index_num" property="indexNum" jdbcType="DOUBLE" />
    <result column="deduction_score_count" property="deductionScoreCount" jdbcType="INTEGER" />
    <result column="total_deduction_score" property="totalDeductionScore" jdbcType="DOUBLE" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="ScreenDoubeChartMap" type="com.bayee.political.domain.ScreenDoubeChart" >
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="value" property="value" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, police_id, index_num, deduction_score_count, total_deduction_score, creation_date, 
    update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from risk_conduct_traffic_violation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from risk_conduct_traffic_violation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.RiskConductTrafficViolation" >
    insert into risk_conduct_traffic_violation (id, police_id, index_num, 
      deduction_score_count, total_deduction_score, 
      creation_date, update_date)
    values (#{id,jdbcType=INTEGER}, #{policeId,jdbcType=VARCHAR}, #{indexNum,jdbcType=DOUBLE}, 
      #{deductionScoreCount,jdbcType=INTEGER}, #{totalDeductionScore,jdbcType=DOUBLE}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bayee.political.domain.RiskConductTrafficViolation" >
    insert into risk_conduct_traffic_violation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="policeId != null" >
        police_id,
      </if>
      <if test="indexNum != null" >
        index_num,
      </if>
      <if test="deductionScoreCount != null" >
        deduction_score_count,
      </if>
      <if test="totalDeductionScore != null" >
        total_deduction_score,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="policeId != null" >
        #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="indexNum != null" >
        #{indexNum,jdbcType=DOUBLE},
      </if>
      <if test="deductionScoreCount != null" >
        #{deductionScoreCount,jdbcType=INTEGER},
      </if>
      <if test="totalDeductionScore != null" >
        #{totalDeductionScore,jdbcType=DOUBLE},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bayee.political.domain.RiskConductTrafficViolation" >
    update risk_conduct_traffic_violation
    <set >
      <if test="policeId != null" >
        police_id = #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="indexNum != null" >
        index_num = #{indexNum,jdbcType=DOUBLE},
      </if>
      <if test="deductionScoreCount != null" >
        deduction_score_count = #{deductionScoreCount,jdbcType=INTEGER},
      </if>
      <if test="totalDeductionScore != null" >
        total_deduction_score = #{totalDeductionScore,jdbcType=DOUBLE},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.RiskConductTrafficViolation" >
    update risk_conduct_traffic_violation
    set police_id = #{policeId,jdbcType=VARCHAR},
      index_num = #{indexNum,jdbcType=DOUBLE},
      deduction_score_count = #{deductionScoreCount,jdbcType=INTEGER},
      total_deduction_score = #{totalDeductionScore,jdbcType=DOUBLE},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <!-- 警员交通违章风险指数查询 -->
<select id="riskConductTrafficViolationItem"  resultMap="BaseResultMap">
  select police_id, sum(index_num) as index_num, sum(deduction_score_count) as deduction_score_count, sum(total_deduction_score) as total_deduction_score
  from risk_conduct_traffic_violation
  where police_id = #{policeId,jdbcType=VARCHAR}
    <if test="timeType == 1">
      and DATE_FORMAT(creation_date, '%Y-%m')&gt;=#{lastMonthTime} and DATE_FORMAT(creation_date, '%Y-%m')&lt;=#{dateTime}
    </if>
    <if test="timeType == 2">
      and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}
    </if>
</select>
  
  <!-- 交通违章风险指数图例 -->
<select id="riskConductTrafficViolationChart"  resultMap="ScreenDoubeChartMap">
select ifnull(b.value,0) as value,CONCAT(c.id,'月') as name
from(SELECT DATE_FORMAT(CURDATE(), '%Y-%m') AS `year_month` 
    UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 1 MONTH), '%Y-%m') AS `year_month` 
    UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 2 MONTH), '%Y-%m') AS `year_month` 
    UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 3 MONTH), '%Y-%m') AS `year_month` 
    UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 4 MONTH), '%Y-%m') AS `year_month` 
    UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 5 MONTH), '%Y-%m') AS `year_month` ) a
left join(select sum(index_num) as value,DATE_FORMAT(creation_date, '%Y-%m') as name from risk_conduct_traffic_violation
where police_id=#{policeId,jdbcType=VARCHAR} GROUP BY DATE_FORMAT(creation_date, '%Y-%m')) b on b.name=a.year_month
left join month c on c.num_name=right(a.year_month,2) 
order by a.year_month
</select>
</mapper>