<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bayee.political.mapper.RiskCaseTestMapper">
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.RiskCaseTest">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="police_id" jdbcType="VARCHAR" property="policeId" />
    <result column="index_num" jdbcType="DOUBLE" property="indexNum" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="semester" jdbcType="INTEGER" property="semester" />
    <result column="deduction_score" jdbcType="DOUBLE" property="deductionScore" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, police_id, index_num, year, semester, deduction_score, creation_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from risk_case_test
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from risk_case_test
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.RiskCaseTest">
    insert into risk_case_test (id, police_id, index_num, 
      year, semester, deduction_score, 
      creation_date, update_date)
    values (#{id,jdbcType=INTEGER}, #{policeId,jdbcType=VARCHAR}, #{indexNum,jdbcType=DOUBLE}, 
      #{year,jdbcType=VARCHAR}, #{semester,jdbcType=INTEGER}, #{deductionScore,jdbcType=DOUBLE}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bayee.political.domain.RiskCaseTest">
    insert into risk_case_test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="policeId != null">
        police_id,
      </if>
      <if test="indexNum != null">
        index_num,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="semester != null">
        semester,
      </if>
      <if test="deductionScore != null">
        deduction_score,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="policeId != null">
        #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="indexNum != null">
        #{indexNum,jdbcType=DOUBLE},
      </if>
      <if test="year != null">
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="semester != null">
        #{semester,jdbcType=INTEGER},
      </if>
      <if test="deductionScore != null">
        #{deductionScore,jdbcType=DOUBLE},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bayee.political.domain.RiskCaseTest">
    update risk_case_test
    <set>
      <if test="policeId != null">
        police_id = #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="indexNum != null">
        index_num = #{indexNum,jdbcType=DOUBLE},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="semester != null">
        semester = #{semester,jdbcType=INTEGER},
      </if>
      <if test="deductionScore != null">
        deduction_score = #{deductionScore,jdbcType=DOUBLE},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.RiskCaseTest">
    update risk_case_test
    set police_id = #{policeId,jdbcType=VARCHAR},
      index_num = #{indexNum,jdbcType=DOUBLE},
      year = #{year,jdbcType=VARCHAR},
      semester = #{semester,jdbcType=INTEGER},
      deduction_score = #{deductionScore,jdbcType=DOUBLE},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="riskCaseTestIndexItem" parameterType="com.bayee.political.domain.RiskCaseTest" resultMap="BaseResultMap">
    select a.police_id,sum(a.index_num) as index_num,b.bnum as cumulativeNum,
    c.cnum as passNum
    from risk_case_test a
    left join
    (select count(*) as bnum,police_id from risk_case_test_record where police_id=#{policeId}
    <if test="timeType == 1">
      and DATE_FORMAT(creation_date, '%Y-%m')&gt;=#{lastMonthTime} and DATE_FORMAT(creation_date, '%Y-%m')&lt;=#{dateTime}
    </if>
    <if test="timeType == 2">
      and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}
    </if>)
    b on b.police_id=a.police_id
    left join
    (select count(*) as cnum,police_id from risk_case_test_record where police_id=#{policeId} and score>=60
    <if test="timeType == 1">
      and DATE_FORMAT(creation_date, '%Y-%m')&gt;=#{lastMonthTime} and DATE_FORMAT(creation_date, '%Y-%m')&lt;=#{dateTime}
    </if>
    <if test="timeType == 2">
      and DATE_FORMAT(creation_date, '%Y-%m')=#{dateTime}
    </if>)
    c on c.police_id=a.police_id
    where a.police_id=#{policeId}
    <if test="timeType == 1">
      and DATE_FORMAT(a.creation_date, '%Y-%m')&gt;=#{lastMonthTime} and DATE_FORMAT(a.creation_date, '%Y-%m')&lt;=#{dateTime}
    </if>
    <if test="timeType == 2">
      and DATE_FORMAT(a.creation_date, '%Y-%m')=#{dateTime}
    </if>
  </select>

  <select id="findPoliceRiskCaseTest" resultMap="BaseResultMap">
    select * from risk_case_test
    where police_id = #{policeId} and DATE_FORMAT(creation_date, '%Y-%m') = DATE_FORMAT(#{date}, '%Y-%m')
  </select>

  <select id="findGlobalIndexNum" resultType="com.bayee.political.pojo.GlobalIndexNumResultDO">
    SELECT
      ifnull(MAX(deduction_score), 0) as maxNum, ifnull(min(deduction_score), 0) as minNum
    FROM risk_case_test
    where DATE_FORMAT(creation_date, '%Y-%m') = DATE_FORMAT(#{date}, '%Y-%m')
  </select>

</mapper>