<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bayee.political.mapper.RiskConductMapper">
  <resultMap id="BaseResultMap" type="com.bayee.political.domain.RiskConduct">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="police_id" jdbcType="VARCHAR" property="policeId" />
    <result column="index_num" jdbcType="DOUBLE" property="indexNum" />
    <result column="bureau_rule_score" jdbcType="DOUBLE" property="bureauRuleScore" />
    <result column="visit_score" jdbcType="DOUBLE" property="visitScore" />
    <result column="relevant_score" jdbcType="DOUBLE" property="relevantScore" />
    <result column="traffic_violation_score" jdbcType="DOUBLE" property="trafficViolationScore" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  
  <resultMap id="ScreenDoubeChartMap" type="com.bayee.political.domain.ScreenDoubeChart" >
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="value" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    id, police_id, index_num, bureau_rule_score, visit_score, relevant_score, traffic_violation_score,
    creation_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from risk_conduct
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from risk_conduct
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bayee.political.domain.RiskConduct">
    insert into risk_conduct (id, police_id, index_num, 
      bureau_rule_score, visit_score, relevant_score, traffic_violation_score,
      total_num, creation_date, update_date)
    values (#{id,jdbcType=INTEGER}, #{policeId,jdbcType=VARCHAR}, #{indexNum,jdbcType=DOUBLE}, 
      #{bureauRuleScore,jdbcType=DOUBLE}, #{visitScore,jdbcType=DOUBLE}, #{relevantScore},
      #{trafficViolationScore,jdbcType=DOUBLE}, #{totalNum},
      #{creationDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bayee.political.domain.RiskConduct">
    insert into risk_conduct
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="policeId != null">
        police_id,
      </if>
      <if test="indexNum != null">
        index_num,
      </if>
      <if test="bureauRuleScore != null">
        bureau_rule_score,
      </if>
      <if test="visitScore != null">
        visit_score,
      </if>
      <if test="trafficViolationScore != null">
        traffic_violation_score,
      </if>
      <if test="totalNum != null">
        total_num,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="policeId != null">
        #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="indexNum != null">
        #{indexNum,jdbcType=DOUBLE},
      </if>
      <if test="bureauRuleScore != null">
        #{bureauRuleScore,jdbcType=DOUBLE},
      </if>
      <if test="visitScore != null">
        #{visitScore,jdbcType=DOUBLE},
      </if>
      <if test="trafficViolationScore != null">
        #{trafficViolationScore,jdbcType=DOUBLE},
      </if>
      <if test="totalNum != null">
        #{totalNum},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bayee.political.domain.RiskConduct">
    update risk_conduct
    <set>
      <if test="policeId != null">
        police_id = #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="indexNum != null">
        index_num = #{indexNum,jdbcType=DOUBLE},
      </if>
      <if test="bureauRuleScore != null">
        bureau_rule_score = #{bureauRuleScore,jdbcType=DOUBLE},
      </if>
      <if test="visitScore != null">
        visit_score = #{visitScore,jdbcType=DOUBLE},
      </if>
      <if test="trafficViolationScore != null">
        traffic_violation_score = #{trafficViolationScore,jdbcType=DOUBLE},
      </if>
      <if test="totalNum != null">
        total_num = #{totalNum},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bayee.political.domain.RiskConduct">
    update risk_conduct
    set police_id = #{policeId,jdbcType=VARCHAR},
      index_num = #{indexNum,jdbcType=DOUBLE},
      bureau_rule_score = #{bureauRuleScore,jdbcType=DOUBLE},
      visit_score = #{visitScore,jdbcType=DOUBLE},
      relevant_score = #{relevantScore,jdbcType=DOUBLE},
      traffic_violation_score = #{trafficViolationScore,jdbcType=DOUBLE},
      total_num = #{totalNum},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findRiskConductByPoliceIdAndDate" resultMap="BaseResultMap">
    select * from risk_conduct where police_id = #{policeId} and DATE_FORMAT(creation_date, '%Y-%m') = DATE_FORMAT(#{dateTime}, '%Y-%m')
  </select>

<!-- 警员行为规范风险指数查询 -->
	<select id="riskConductItem"  resultMap="BaseResultMap">
		select id, police_id, sum(index_num) as index_num, sum(bureau_rule_score) as bureau_rule_score ,sum(visit_score) visit_score 
,sum(traffic_violation_score) traffic_violation_score, sum(relevant_score) as relevant_score FROM risk_conduct a
where a.police_id=#{policeId,jdbcType=VARCHAR}
    <if test="timeType == 1">
      and DATE_FORMAT(a.creation_date, '%Y') = SUBSTR(#{dateTime}, 1, 4)
	</if>
    <if test="timeType == 2">
	    and DATE_FORMAT(a.creation_date, '%Y-%m')=#{dateTime}
	</if>
order by id desc
	</select>
  
  <!-- 行为规范风险指数图例 -->
	<select id="riskConductChart"  resultMap="ScreenDoubeChartMap">
	select ifnull(b.value,0) as value,CONCAT(c.id,'月') as name
	from(SELECT DATE_FORMAT(CURDATE(), '%Y-%m') AS `year_month` 
	    UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 1 MONTH), '%Y-%m') AS `year_month` 
	    UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 2 MONTH), '%Y-%m') AS `year_month` 
	    UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 3 MONTH), '%Y-%m') AS `year_month` 
	    UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 4 MONTH), '%Y-%m') AS `year_month` 
	    UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 5 MONTH), '%Y-%m') AS `year_month` ) a
	left join(select sum(index_num) as value,DATE_FORMAT(creation_date, '%Y-%m') as name from risk_conduct
	where police_id=#{policeId,jdbcType=VARCHAR} GROUP BY DATE_FORMAT(creation_date, '%Y-%m')) b on b.name=a.year_month
	left join month c on c.num_name=right(a.year_month,2) 
	order by a.year_month
	</select>

  <insert id="insertRiskConductList" parameterType="List">
    insert into  risk_conduct (id, police_id, index_num, bureau_rule_score, relevant_score,
                               visit_score, traffic_violation_score, total_num, creation_date, update_date)
    values
    <foreach collection="list" item="item" separator=",">
      (null, #{item.policeId,jdbcType=VARCHAR}, #{item.indexNum,jdbcType=DOUBLE}, #{item.bureauRuleScore,jdbcType=DOUBLE},
       #{item.relevantScore,jdbcType=DOUBLE},
       #{item.visitScore,jdbcType=DOUBLE}, #{item.trafficViolationScore,jdbcType=DOUBLE},
      #{item.totalNum}, #{item.creationDate,jdbcType=TIMESTAMP}, #{item.updateDate,jdbcType=TIMESTAMP})
    </foreach>
  </insert>

  <select id="findGlobalIndexNum" resultType="com.bayee.political.pojo.GlobalIndexNumResultDO">
    SELECT
      ifnull(MAX(total_num), 0) as maxNum, ifnull(min(total_num), 0) as minNum
    FROM risk_conduct
    where DATE_FORMAT(creation_date, '%Y-%m') = DATE_FORMAT(#{date}, '%Y-%m')
  </select>

  <select id="findGlobalIndexNumByYear" resultType="com.bayee.political.pojo.GlobalIndexNumResultDO">
    SELECT
      ifnull(MAX(a.sumNum), 0) as maxNum, ifnull(MIN(a.sumNum), 0) as minNum
    FROM (SELECT SUM(${column}) AS sumNum FROM risk_conduct
          WHERE DATE_FORMAT(creation_date, '%Y') = SUBSTR(#{date}, 1, 4)
          GROUP BY police_id) a
  </select>

</mapper>