<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>political</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <filter>
  	<filter-name>CrossDomainFilter</filter-name>
  	<filter-class>com.bayee.political.filter.CrossDomainFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>CrossDomainFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>


    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.bayee.political.filter.UserSession</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>swaggerDemoMvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>swaggerDemoMvc</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <!-- 配置swagger-bootstrap-ui的url请求路径-->
    <servlet-mapping>
        <servlet-name>swaggerDemoMvc</servlet-name>
        <url-pattern>/v2/api-docs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>swaggerDemoMvc</servlet-name>
        <url-pattern>/swagger-resources</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>swaggerDemoMvc</servlet-name>
        <url-pattern>/v2/api-docs-ext</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>swaggerDemoMvc</servlet-name>
        <url-pattern>/swagger-resources/configuration/ui</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>swaggerDemoMvc</servlet-name>
        <url-pattern>/swagger-resources/configuration/security</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
  
</web-app>